[2015-08-15 00:48] HelloZeroNet opened #1 "List of modified nodes"
It would be nice if we could get of list of modified elements, so its possible to animate or post-process it.

[2015-08-15 01:39] patrick-steele-idem commented on #1
What information do you think you would need exactly? `morphdom` does provide a `onBeforeMorphEl: function(fromEl, toEl) { ... }` callback. In that callback function you could do your own checking to see if there were any modifications to the current element and handle it accordingly. `morphdom` is already doing the hard work of matching up elements.

Let me know your thoughts. Thanks.

[2015-08-15 09:00] HelloZeroNet commented on #1
I think it would be useful to have an equivalent of `onBeforeMorphEl` that is only call backs if fromNode differs from toNode or if `morphdom` function would return an array of changed nodes.

I have tried to add `if (!fromEl.isEqualNode(toEl)) console.log("Changed", fromEl)` to `onBeforeMorphEl`, but it's also callbacks on changed node parents.
Probably you already doing a smarter method of findi

[2015-08-15 19:36] trueadm opened #2 "Walking through the DOM is slow"
You state that walking through the DOM isn't slow, but in reality it really is. Accessing things like firstNode or childNodes is vastly slower than storing a light-weight representation of it (aka virtual DOM).

Furthermore, handling of keyed nodes becomes problematic when using DOM nodes. There simply isn't any performant way of doing this when using the DOM as the source-of-truth.

Have you see

[2015-08-15 21:06] kesne opened #3 "Keyed Nodes"
I think it would be beneficial to have some way to have morphdom handle keys similar to how they are handled in virtual-dom (https://github.com/Matt-Esch/virtual-dom/blob/master/virtual-hyperscript/README.md#key).

Maybe a non-standard HTML attribute (such as `key="someKey"`) could be used along with the tagName to determine if a node is identical?

I'm happy to make a PR for whatever you're are h

[2015-08-15 21:24] patrick-steele-idem commented on #2
Hi @trueadm, I spent a lot of time benchmarking and profiling the code for morphdom and other libraries. Most micro benchmarks like the one you shared don't capture the complete story and can be misleading. Micro benchmarks tend to inflate things that really don't matter in practice. We should definitely pay attention to micro benchmarks, but what matters more is how things perform in a real appli

[2015-08-15 21:26] patrick-steele-idem commented on #3
Hi @kesne, morphdom uses the "id" attribute as the "key" by design. That is, morphdom works best if there are stable IDs for HTML elements and it will take extra steps to match up elements with matching IDs that are found in both the old DOM and the new DOM. Is there something else that you think is still missing?

[2015-08-15 21:37] trueadm commented on #2
I sent you an email earlier, hopefully you go it :)

You're right in that (well we both hope) browsers will get better at the DOM abstraction and improve performance there. In regards to the micro-benchmark talk, I don't believe that's entirely the case – the fact of the matter (which no one can even debate) is that creating and accessing literal objects is the most efficient way to handle anythin

[2015-08-15 22:04] kesne commented on #3
Ah, probably would have been good to read through the source before making an issue! My mistake.

I guess the only callout is that the benefit of a key design is that keys can be re-used in two different trees that you're running through morphdom, whereas IDs need to be absolutely unique.

[2015-08-15 22:16] kesne opened #4 "Potential onBeforeNodeDiscarded"
I think there could be a use case for adding an `onBeforeNodeDiscarded` callback that could return `false` if the node should not be discarded. You can't use the `onNodeDiscarded` callback because that could be called on a deep node that isn't possible to retain in the tree. But if it can be retained (i.e. it's going to be removed from a node that we're keeping), then we can use the callback to al

[2015-08-15 22:17] patrick-steele-idem commented on #2
In our case at eBay we are using a [high performance templating engine](https://github.com/marko-js/templating-benchmarks) ([Marko](https://github.com/marko-js/marko)) that works really well on both the server and in the browser. Marko, of course renders HTML, not a virtual DOM. We toyed with the idea of updating the Marko compiler to produce compiled templates that render virtual DOM nodes (or in

[2015-08-15 22:20] patrick-steele-idem commented on #3
True. With [Marko Widgets](https://github.com/marko-js/marko-widgets) we have a strategy for ensure IDs are always unique by prefixing IDs with the ID of the parent widget. That trick has worked really well for Marko Widgets. For rendering lists of items we recommend using the index of the current iteration prefixed with the ID of the parent widget as the unique ID. If you have any other thoughts

[2015-08-15 22:25] patrick-steele-idem commented on #4
Interesting that you mention that. We solved the problem by rendering a placeholder element with empty content purely for the purpose of marking where a DOM node should exist in the final DOM tree. We use the placeholder element in combination with `onBeforeMorphEl` to prevent DOM nodes from nodes that should not be rerendered from being discarded. Relevant code in Marko Widgets:

- https://github

[2015-08-15 22:26] kesne commented on #2
I think @patrick-steele-idem said about performance is really important. It's entirely likely that Morphdom is not the fastest diff/patch library out there, but that really doesn't matter for the practical use case.

I'll give the example of how I'm currently implementing it, and hopefully that will give some insight.

I've been working on a project for the last year that is built on a HTML string

[2015-08-15 22:32] kesne commented on #4
The only problem that I think that solution has is that it requires knowledge or control over the third party library. The one major benefit of `onBeforeNodeDiscarded` is that I could make a rule to ignore all nodes with the attribute `data-ignore` and keep those in the DOM. With a generic solution the integration with other libraries just gets simpler.

[2015-08-15 22:33] trueadm commented on #2
I can also give a use-case where React wasn't fast enough for us – and no other framework was either. I work in the world of financial trading applications, where a price being off by 250ms is a critical bug (it could cost banks millions if off). Thus it's massively important for us to ensure our applications (on the web) update as fast as practically possible. When you have to update 250-500 elem

[2015-08-15 22:37] kesne commented on #2
@trueadm That may be the case, but then I would say that morphdom isn't the library for you? I have no affiliation with the project at all so take that with a grain of salt, but if your application needs that level of performance then I would say look elsewhere.

[2015-08-15 22:39] kesne commented on #3
Yeah it's not really an issue with my use cases, I just thought I would call it out.

Feel free to close the issue if you're fine with the state of things.

[2015-08-15 22:40] trueadm commented on #2
@kesne this topic was in regards primarily to where the readme states that "No, the DOM data structure is not slow.". I completely disagree with this statement. The DOM data structure is *very* slow, regardless of how and when you access it. I know this from my experiences building Inferno – which as as I stated above, is a very unique twist on the whole "virtual DOM vs DOM" problem.

[2015-08-15 22:40] patrick-steele-idem commented on #2
@trueadm, you definitely have a very demanding use case. I would argue if performance is of the utmost concern then I wouldn't even using a DOM rerendering and DOM diffing strategy and would instead use the old school way of manually updating the DOM (which you can always make be the fastest if you really try).

We've also run into situations where there is a hot code path for updating part of the

[2015-08-15 22:49] trueadm commented on #2
@patrick-steele-idem indeed, this very much the reason why I'm even bothering to comment on this. It's not to say "hey your code is shit", which is the common criticism on GitHub these days. It's more to point out some flaws in a) your readme's statement regarding handling of the DOM, b) your performance in regards to the handling of keyed nodes and most importantly c) to talk and discuss.

We are

[2015-08-15 22:53] patrick-steele-idem commented on #2
@trueadm "slow" is not well defined and will depend on the application. The DOM might be considered slow in your use case, but I don't consider it slow in our use cases. You might be correct that real DOM diffing is slower than virtual DOM diffing, but there are a lot of other things at play (different browsers, size of libraries, UI frameworks, templating engines, server-side rendering vs client-

[2015-08-15 22:56] patrick-steele-idem commented on #3
Sounds good. I will close this issue, but we can always reevaluate later. Thanks.

[2015-08-15 22:56] #3 closed

[2015-08-15 22:58] patrick-steele-idem commented on #4
I'm not necessarily opposed to `onBeforeNodeDiscarded`. If you had a strong need I would suggest submitting a PR (with test cases). We can leave this issue open. Thanks.

[2015-08-15 22:59] trueadm commented on #2
@patrick-steele-idem true, but typically lists of data (the most common use-case for any useful tempting engine really) depends on the data model being sorted. If that data model changes regularly and its keys (or sorted items) change often, then you have a difficult problem to solve. Like I said in my email, this a problem that is far bigger than a GitHub issue and it involves many competent mind

[2015-08-15 23:02] patrick-steele-idem commented on #2
Sounds good @trueadm. Let's discuss over Skype. I'm also really performance minded so your concerns/comments are definitely not falling on deaf ears. I'm going to close this issue because I don't think there is anything that we can act on for this project (except maybe update the README to address concerns?), but I'm not closing it to end the conversation.

[2015-08-15 23:02] #2 closed

[2015-08-16 00:07] DarkMarmot commented on #2
@patrick-steele-idem I can't wait to see if I can incorporate this into my framework -- component-based like React but with a declarative, reactive system and no virtual DOM. It was built primarily to allow large teams to compose interactive data visualizations (so D3 is in heavy use).

@trueadm I don't understand your use case. I come from a background in video game programming... where updating

[2015-08-16 00:20] trueadm commented on #2
@DarkMarmot Two problems exist there:
- many of our clients still demand IE8 support (the major global banks mainly)
- they have their own development teams that take our white-label development tool-kits and theme them, asking them to adopt canvas rendering and throw out CSS/HTML is simply not feasible

On that note though: If all the major banks were happy with having the same application styled

[2015-08-16 00:36] DarkMarmot commented on #2
@trueadm ouch. enough drop shadows and layered transparencies in a client theme could devastate any system you devise... and IE8, wow. Thankfully, even the conservative Fortune 100 I work at uses Chrome now. Props to you for devising solutions there, but I would go crazy dealing with IE :)

[2015-08-16 13:44] jholster commented on #4
I can also se how onBeforeNodeDiscarded could be potentially used for implementing (programmatic) animations. After performing the animation you call node.parentNode.removeChild(node), or maybe onBeforeNodeDiscarded could provide removeNode callback¹.

¹) maquettejs does that, see http://maquettejs.org/docs/animations.html

[2015-08-16 13:59] DarkMarmot commented on #4
I'd like this feature as well. I'd probably fork to get it :)

On Sun, Aug 16, 2015 at 8:44 AM, Jaakko Holster <notifications@github.com>
wrote:

[2015-08-16 20:15] staydecent commented on #1
@HelloZeroNet I may be way off on this, but I wonder if your use case would be better approached from your incoming data or user input events? Assuming your DOM elements would be changed based either on new server data you want to represent or because of user input, you could possibly rely on those events to add CSS classes onto the related elements?

[2015-08-17 15:41] patrick-steele-idem commented on #1
I'm also thinking you might want to solve your use case in a different way...

Unless I am missing something, simply rerender the UI and use the appropriate CSS "class" attributes or "style" attributes to change the background as desired. Then, use morphdom to apply those changes to the actual DOM. That is, the backgrounds of elements would change during the rendering phase, not the diffing/patchi

[2015-08-17 15:47] patrick-steele-idem commented on #4
:+1:

Great point, @jholster. In one of my sample apps I wanted to animate the removal of an item that is deleted, but there is no easy way to do that right now since it is simply discarded from the DOM. If we had the hook to prevent the node from immediately being discarded then we could animate the removal and then remove the node in our own code.

@DarkMarmot, I'll be happy to review a PR if yo

[2015-08-17 21:22] megawac commented on #1
Why don't you just hook up a MutationObserver? That seems more appropriate than adding it here

[2015-08-18 00:51] kesne opened #6 "Bug: Morphdom 0.1.11 can't be included in the head."
There is a reference to `document.body` in morphdom [right here](https://github.com/patrick-steele-idem/morphdom/blob/master/lib/index.js#L3).

I'm using webpack and including the scripts in the head, which is causing errors because the body has not been parsed yet.

[2015-08-18 01:13] #6 closed

[2015-08-18 01:13] patrick-steele-idem commented on #6
Thanks for letting us know. I put in a simple fix. New version published: `morphdom@0.1.12`

[2015-08-18 02:26] patrick-steele-idem opened #7 "Enhancement: support diffing the real DOM with a virtual DOM"
In theory, the new target DOM could be a virtual DOM. As long as the virtual DOM exposes an interface that implements the required subset of the real DOM API (`node.firstChild`, `node.tagName`, `node.nextSibling`, `node.attributes`, etc.) then things will work for the most part. The only difference is that if a virtual DOM node is to be inserted into the real DOM then it will need to be upgraded i

[2015-08-18 13:13] alessioalex opened #9 "question: initial use case?"
Hey @patrick-steele-idem

I was just wondering what was the initial use case, the one that made you create this library. I was thinking of `marko` async fragments, but then again `marko` only gives you missing pieces, not a complete "section" of DOM.

Thanks!

[2015-08-18 15:31] patrick-steele-idem commented on #9
The initial use case was for rendering the HTML for a UI component and updating the DOM with the new HTML. I first integrated `morphdom` into [marko-widgets](https://github.com/marko-js/marko-widgets) to make sure it worked in a real UI component framework. For  [marko-widgets](https://github.com/marko-js/marko-widgets), a UI component is bound to a single DOM element (a `<div>`, `<span>`, etc.).

[2015-08-18 15:42] #4 closed

[2015-08-18 15:45] pragmadash commented on #1
@megawac IMO if add such dependency as MutationObserver the morphdom will stop being a tiny and lightweight library.

[2015-08-18 18:45] megawac commented on #1
I don't mean to say to add mos but to instead suggest using
mutationobservers for the types of events requested here. Just document how
to use morphdom and mutationobservers.
On Aug 18, 2015 11:45 AM, "Denis Rechkunov" <notifications@github.com>
wrote:

[2015-08-18 23:35] ducktype opened #15 "What about using TreeWalker and google/incremental-dom?"
Hi i've just seen your project in the github trending projects page,
and it triggered my attention because i was in the middle of starting a very similar one.

While searching about how to implement my own in the last days it i've found this:

to read/cycle the source dom tree (in modern browsers) probably is faster to use this api than manually and recursively cycle the dom tree in js (fallback t

[2015-08-19 00:22] patrick-steele-idem commented on #15
I started developing `morphdom` before `incremental-dom`, but took a pretty close look at `incremental-dom` when it was released.

`incremental-dom` doesn't use the native `TreeWalker` API. Instead, they created their own implementation that is similar to the native `TreeWalker` API: https://github.com/google/incremental-dom/blob/c7fd9017406cdc6a69011664dc592f8e96fa85f2/src/tree_walker.js

I haven

[2015-08-19 01:11] ducktype commented on #15
Clear, the fact "morphdom doesn't visit all nodes through a straight traversal" make my suggestions about using TreeWalk and incremental-dom not applicable as both need this.

About working with "any templating engine that produces an HTML string" i'm with you, i think is the right choice, but i think incremental-dom can be used also for this purpose:

example code (proof of concept):
[code]

what

[2015-08-19 07:30] alessioalex commented on #9
Yes, thank you for the detailed reply.

[2015-08-19 07:30] #9 closed

[2015-08-19 13:07] oppianmatt opened #16 "Enhancement: Option to keep values"
When updating the dom sometimes we want to keep existing input values. Would be handy to have an option that kept the existing 'value' attribute and only override it if a new one is in the new dom.

[2015-08-19 13:21] oppianmatt commented on #16
actually with the hooks you've provided can implement this myself. So if anyone else wants to know, this is how:

[code]

[2015-08-19 13:22] #16 closed

[2015-08-19 14:59] patrick-steele-idem commented on #16
Nice trick! Thanks for sharing

Personally, I don't think jQuery is adding much value for that use case and would go with something more similar to the following (especially since `onBeforeMorphEl` may be called many times):

[code]

[2015-08-19 15:16] oppianmatt commented on #16
Thanks. I am trying to move away from jquery. But unfortunatly I used it to expand on this and have it also move over selected/checked states using the jquery pseudo selectors:

[code]

But I suppose I could use .selected and .checked although I don't know how cross browser it will be.

[2015-08-19 15:25] patrick-steele-idem commented on #16
`el.checked` is definitely cross browser. MDN is probably the best choice for knowing which properties are standard. For example, for an HTML input element: https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement

Unless there is a note next to the property or a note in the `Browser compatibility` section then you can consider it safe to use.

I hope that helps.

[2015-08-20 01:03] patrick-steele-idem opened #18 "New feature: provide option to only morph child nodes"

[2015-08-20 03:44] #18 closed

[2015-08-20 12:23] markuplab opened #19 "Textarea problems"
Textarea updates doesn't work after first input text.

[code]
After first input
![2015-08-20 18 18 23](https://cloud.githubusercontent.com/assets/4974184/9383067/7cdf5610-475f-11e5-95dc-a1500eea5021.png)

After second input
![2015-08-20 18 18 15](https://cloud.githubusercontent.com/assets/4974184/9383071/86f9ef48-475f-11e5-8864-cd65c6d6fdbc.png)

Look diffirence between shadow-dom and innerHTML
![

[2015-08-20 14:29] patrick-steele-idem commented on #19
Thanks for the detailed bug report! I was able to reproduce the issue with a test case and am working on a fix. Once the `value` setter is called on a `<textarea>` instance any changes to the value of the textarea's child text node will not impact the value. Silly DOM...

I'll publish a new version soon. Thanks!

[2015-08-20 14:50] #19 closed

[2015-08-25 13:58] HelloZeroNet commented on #1
@staydecent: I have a server-rendered html page that is changeable by multiple users and I want to add a visual marker to html elements that is modified by someone else.

@megawac Thanks, I never heard of MutationObserver, In my first tests its working well with morphdom:
[code]

[2015-08-25 14:19] patrick-steele-idem commented on #1
Glad to hear that using `MutationObserver` solves your problem. Since you have a working solution I'm going to go ahead and close this issue. Thanks for sharing your solution.

[2015-08-25 14:19] #1 closed

[2015-08-25 14:54] patrick-steele-idem commented on #15
Hi @ducktype, sorry for being slow to respond, but better late than never. Using `incremental-dom` in the way that you described will work, but it is pretty much guaranteed to be slower since `incremental-dom` was designed to be a compilation target to avoid creating real DOM nodes. `morphdom` assumes there is already a real DOM that the existing DOM should be transformed to match and the code is

[2015-08-25 23:56] bevacqua opened #20 "DocumentFragment"
Shouldn't we create a `DocumentFragment` here instead? https://github.com/patrick-steele-idem/morphdom/blob/b7654c5360fbd4aa71b373bb10f576dd86516f81/lib/index.js#L14

[2015-08-26 00:01] S-YOU commented on #20
there is no innerHTML in documentFragment.

[2015-08-26 00:05] patrick-steele-idem commented on #20
Correct. `morphdom` just needed a container element that would allow it to use `innerHTML` to parse the HTML string into a DOM node. Newer browsers support `range.createContextualFragment(html)` which is much faster.

[2015-08-26 00:15] bevacqua commented on #20
I'll just walk myself out

[2015-08-26 00:15] #20 closed

[2015-08-26 16:58] markuplab opened #21 "Input lose focus position after morphing"
Please watch this video:
http://youtu.be/X33mMzkzR-A

[code]

I know it's hard correct handle same cases, but it's very useful feature, because you can easy make two-way data-binding and don't care about "dirty hacks".

[2015-08-26 17:22] #21 closed

[2015-08-26 17:23] patrick-steele-idem commented on #21
Thanks for reporting the problem. The simple fix was to not set the `value` property if it did not change. It looks like Chrome (and maybe other browsers) would change the caret position even if the new value was the same as the old.

New version published: morphdom@1.0.2

[2015-08-26 17:38] markuplab commented on #21
Thank you! Now it's work correct.

[2015-09-08 06:31] xi opened #22 "Please create a bower package"
It is not currently possible to install this library using bower because

- it is not registered at the bower registry
- if installing via the github shorthand, the UMD build is not included

Would be great if it was possible to use bower for installation.

[2015-09-08 15:10] patrick-steele-idem commented on #22
Personally, I don't use bower and I don't like bower, but if you want to submit a PR to support Bower then I will merge it (I realize that we will probably need to check in the `dist/` folder, sadly...). Thanks.

[2015-09-27 10:07] cheft opened #24 "Browser Support?"
Browser Support?

[2015-09-27 13:13] patrick-steele-idem commented on #24
We don't have continuous testings set up for all browsers, but when I loaded the test HTML page for this project in various browsers I found that it worked in browsers as old as IE8.

If anyone wants to help set up continuous testing in more browsers that would be awesome :)

[2015-10-07 18:49] anwerso opened #25 "Minor question about the source code"
https://github.com/patrick-steele-idem/morphdom/blob/ea1444532c5b9717c508d41a4ff56a2fe508bce3/lib/index.js#L222

Is there any particular reason to not use strict equality comparison here?

[2015-10-07 20:47] patrick-steele-idem commented on #25
The only reason I don't use strict equality is because I can save a byte and I am not concerned about type coercion since I know both the left hand side and the right hand side are strings.

Since you asked, I'm not of the opinion that strict equality checks should always be used. There's lots of situations where `==` or `!=` produces better code. It's just more important that the JavaScript langu

[2015-10-09 09:54] anwerso commented on #25
It definitely clarifies :)

[2015-10-09 09:54] #25 closed

[2015-10-23 10:25] viktorbezdek commented on #24
I can confirm IE8, iOS8, iOS9, Android 4.4 browser

[2015-10-25 01:07] patrick-steele-idem commented on #24
Good to know. Thank you for sharing, @viktorbezdek !

[2015-10-25 09:14] viktorbezdek opened #26 "Form selects resets to first option while morphing"
Not sure whether this is bug or correct behavior - if I'm morphing DOM tree containing SELECT element, first option (or option with selected attribute) is always set while morphing that tree, event if this particular element nor his children are changed.

[2015-10-26 16:06] patrick-steele-idem commented on #26
Hey @viktorbezdek, when you rerender you should put the `selected` attribute on the `<option>` element that should be selected (i.e. `<option selected value="foo">Foo</option>`). If you don't correctly set the `selected` attribute then the existing `<option>` elements will become unselected and the selected option will go back to the first `<option>`.

Here's a similar issue that was opened: https

[2015-10-29 10:11] Riim opened #27 "Efficient update lists using the key attribute"
https://facebook.github.io/react/docs/multiple-components.html#dynamic-children

Hi!
Sorry, translated with translate.google.ru ((

This update faster. In addition, if the nodes are attached to component instances will be destroyed is not correct instances.
For example here https://gist.github.com/Riim/e47127fc4a88cf1e0ff9 (rista.js is this file https://github.com/Riim/rista/blob/37974a40fc83a7127

[2015-10-30 06:20] Riim commented on #27
By code i understood that instead `key` using `id`.
Probably it is necessary to make such changes:
`var id = node.id;` -> `var id = node.id || node.getAttribute('key');`
because the ID must be unique for the entire document.

[2015-10-30 07:28] Riim commented on #27
even better: `var id = node.id || options.getNodeKey && options.getNodeKey(node);`

[2015-10-30 20:26] Riim commented on #27
[PR#28](https://github.com/patrick-steele-idem/morphdom/pull/28)

[2015-11-03 14:15] viktorbezdek commented on #26
Sorry for late response and yes, this does answer my question. Thanks for the clarification. Thought morphdom would transfer selectedIndex while morphing as well. Using attr selected works as expected.

[2015-11-03 14:15] #26 closed

[2015-11-03 14:20] viktorbezdek commented on #24
After further stress testing I can confirm also IE9, IE10, IE11, Edge, Safari 8, Safari 9, latest FF and Chrome.

I can probably make pull request with automated saucelabs tests. Let me know if you're interested.

[2015-11-03 16:31] patrick-steele-idem commented on #24
Hey @viktorbezdek, that would be awesome if you could add automated saucelabs tests. That is not something I have done before and it would be very helpful to this project. Thanks in advance!

[2015-11-06 23:11] patrick-steele-idem commented on #27
Merged PR to add support for `getNodeKey()`. Closing issue. Thanks @Riim

[2015-11-06 23:11] #27 closed

[2015-11-12 18:04] amirouche opened #29 "Events"
How do you handle events using morphdom?

[2015-11-12 18:15] patrick-steele-idem commented on #29
Hey @amirouche, `morphdom` provides just the functionality to transform a source DOM tree to match a target DOM tree (remove/add elements, remove/add attributes, etc.). `morphdom` doesn't do anything with adding and removing event listeners, but it does provide the hooks such as `onNodeDiscarded` and `onBeforeMorphEl` that you can use to do proper cleanup. Here's some relevant code that [Marko Wid

[2015-11-13 13:35] amirouche commented on #29
As simple example using only morphdom would be helpful. My goal is to bind morphdom with @biwascheme.

[2015-11-15 07:29] Riim opened #30 "Why create an element with a unique id, which is already available?"
[code]

[2015-11-16 19:34] patrick-steele-idem commented on #30
Hmm. Seems like a bug if that is the case. I'm looking into it.

[2015-11-16 21:24] patrick-steele-idem commented on #30
Hey @Riim, I've done some preliminary investigation and it does look like there is a gap in the code. Ideally, we should match up all elements with matching keys/IDs and this is not working in some cases. I added some failing test cases and am working on a fix. Thank you for reporting the problem and providing test code to easily reproduce!

[2015-11-17 14:38] Riim commented on #30
As far as I was able to understand the algorithm, it has the probability of such errors.

I rewrote in its own way can be useful to you my version: https://github.com/Riim/rista/blob/master/src/morphElement.js

This version guarantees the use of already available elements with a unique key. But unfortunately about 30 percent slower. At the same time I didn't do whatever or optimization and can be

[2015-11-17 16:11] #30 closed

[2015-11-17 16:21] patrick-steele-idem commented on #30
Hey @Riim, I pushed some changes to `morphdom` to ensure that the keyed elements are matched up correctly in [hopefully] all cases. Please check out the new code that has been merged. I still need to do some more testing in a real app before I publish a new version.

As you probably noticed, the morphdom module uses some heuristics to be fastest in the "normal" case which is what makes the code mo

[2015-11-17 23:29] patrick-steele-idem commented on #29
Hey @amirouche, unfortunately I am pretty swamped at the moment. I will try to offer some additional guidance... If you rerender a UI component, you should first properly destroy all of the widgets first. Then, after the UI component is rerendered and the DOM is updated using morphdom you would simple go through and initialize all of the widgets associated with the newly rendered UI component and

[2015-11-18 09:31] amirouche commented on #29
I'm looking at a way to bind events using delegation, so that I don't really have to GC events handlers manually while avoiding memory leaks.

[2015-11-18 17:13] patrick-steele-idem commented on #29
Hey @amirouche, event delegation only works for events that bubble. You would need to attach event listeners at the root for all of the events that bubble. When an event bubbles up to the root and it is captured by your code then you will need to look at the event's target element to figure out how to delegate the event to the appropriate handler methods. Marko Widgets does the event delegation by

[2015-11-30 21:43] patrick-steele-idem commented on #30
I was slow getting a new version of this module published with the fix because of the holidays, but I just published `morphdom@1.0.4`. The new version fixes the problem that you reported. It also turned out that this issue was also impacting Marko Widgets so thank you for reporting the problem! I also added a much needed CHANGELOG: https://github.com/patrick-steele-idem/morphdom/blob/master/CHANGE

[2016-01-15 09:26] WesleydeSouza opened #32 "Support for IE7+"
Current version makes use of `document.createRange` and `Element.prototype.hasAttribute`, which are unavailable on older browsers.

`createRange` can be skipped because the fallback for creating a fragment works without it.

`hasAttribute` on the other hand can't be easily replaced, but for the use case of the INPUT handler, I would suggest simply checking the getAttribute response for a truthy va

[2016-01-16 20:25] StreetStrider opened #34 "SVG / NS Support"
Hello. Is it possible for morphdom to support creating elements with namespace? I've tried to morph my SVG and I had `svg` element on the page, but it had `namespaceURI` which does not correspond to SVG, so element is present but not working.

[2016-01-18 14:03] shock01 commented on #34
Hey Streetstrider.
I found this repo and started my own implementation that actually supports what you are looking after.
https://github.com/shock01/oig-dr

Its' not feature complete yet regarding DOMElement properties which can't be set using properties like HTMLInputElement.prototype.indeterminate but that will be added shortly.

@patrick-steele-idem . Creating attributes should be done using cr

[2016-01-18 14:07] shock01 commented on #15
Implemented this in a different repository and used morphdom via browserify to create a benchmark.
Using TreeWalker 100 iterations: 3.8ms avg, Using Morphdom : 4.7ms avg on my local machine.
Also note that in my implementation the fixture large doesn't have equality for isEqualNode when comparing the result of morphdom to the actual to.html. This can be due to either browser version or the browser

[2016-01-18 16:39] patrick-steele-idem commented on #34
Let me take a look. There is [one test](https://github.com/patrick-steele-idem/morphdom/tree/master/test/fixtures/autotest/svg) related to SVG that is passing, but it does look like more work needs to be done there to support SVG.

Thanks for sharing details @shock01. One thing to note, @shock01,  is that your implementation lacks a lot of features that `morphdom` offers. That is completely fine i

[2016-01-18 16:45] patrick-steele-idem commented on #15
Hey @shock01, I suspect the performance difference is mostly associated with the different feature set and not the use of `TreeWalker`. I did look at using `TreeWalker` and the beginning, and while I don't remember all of the details, it didn't look like a good option at the time. `morphdom` has extra overhead because it matches up DOM elements by `id` (this is very important in some applications)

[2016-01-18 16:59] patrick-steele-idem commented on #32
New version published with fix: `morphdom@1.1.0`

Thanks for the PR @WesleydeSouza !

[2016-01-18 17:30] shock01 commented on #34
True. The goals of both libraries are different and i have no plans to support hooks :-)
If you need help with SVG please ping me

[2016-01-18 17:34] shock01 commented on #15
Read the comparison.
I did two comparisons:
eg: isEqualNode and also a stringdiff on outerHTML and both failed.
That suspects me that the DOM outcome is actually different because i use native DOM method.
Thus it returns the results as interpreted by the browser while yours interprets the results as a string result which you build up on your own.

I attached the npm log because locally it fails on

[2016-01-18 17:38] shock01 commented on #15
new XMLSerializer().serializeToString(element) also fails on comparison

[2016-01-18 17:51] patrick-steele-idem commented on #15
Hey @shock01, the `npm` scripts configured for the package are not compatible with Windows, but you should be able to run the corresponding commands directly: https://github.com/patrick-steele-idem/morphdom/blob/45bb5bec1daba9aec66828b4f1781ffca820d42f/package.json#L5-L16

However, it looks like you can't do a local `npm install` due to the `prepublish` script. I didn't realize `prepublish` runs o

[2016-01-18 17:54] shock01 commented on #15
Thnx for the feedback will try later on

[2016-01-18 17:55] patrick-steele-idem commented on #34
@StreetStrider Interestingly, I've added more SVG tests and all tests are passing even when using the non-namespace aware DOM API methods. I've tested Firefox, Chrome and Safari (not IE). Which browser are you testing with?

[2016-01-18 18:27] shock01 commented on #34
Equality in strings does not mean that the SVG will be rendered correctly.
Elements from a different namespaces need to be added to the other dom by using importNode otherwise it will fail to render on some browsers.
Also attributes with namespaces need to be set with setAttributeNS for the same reason

[2016-01-18 18:41] patrick-steele-idem commented on #34
That's what I am trying to determine. Everything works fine in Chrome, Firefox and Safari as long as a default `svg` namespace (xmlns="http://www.w3.org/2000/svg") is used instead of (`xmlns:svg="http://www.w3.org/2000/svg"`):

[code]

The input and output DOM render perfectly fine when the default namespace is `svg`.

If it works fine in IE then that is a limitation that I can live with, but we w

[2016-01-18 19:12] shock01 commented on #34
If i could run it locally i could investigate and fix.
Using default namespace works because HTML5 is non namespace aware and will render SVG element like if its a proper SVG element (it's part of the HTML5) spec. When the elements uses namespace prefixes like svg: it most prob will not detect it's a proper svg element.

So namespace aware methods should be used i presume to make this work.
The na

[2016-01-18 20:04] shock01 commented on #34
Maybe this will help out: xmlns:svg needs to be set on the documentElement to make it work
[code]

[2016-01-18 20:16] #32 closed

[2016-01-19 12:46] StreetStrider commented on #34
[code]
Now
[code]

When I manually insert svg node (1) it works ok.

[2016-03-14 17:55] shannonmoeller opened #37 "innerHTML"
I'm using document.registerElement to create custom elements. I'd like to update the contents of the element without touching the existing parent and without creating a new parent element. In essence, the effect of setting `.innerHTML` but with morphdom's diffing.

The `childrenOnly` option gets me half way there. For example, the following does what I want:

[code]

[code]
[code]

However, two in

[2016-03-14 19:51] shannonmoeller commented on #37
I've created a workaround utility method that serves my purpose for the moment, though it's likely to fail if the `toEl` is an `<li>`, `<tr>`, `<option>`, etc.

[code]

[2016-03-14 21:21] patrick-steele-idem commented on #37
Hey @shannonmoeller, I think your workaround is good, but I don't know if this use case will come up often enough to make a PR to `morphdom`. I would make a small tweak to your wrapper:

[code]

When you set the `childrenOnly` option to `true` then `morphdom` will never look at the parent element so I don't think there is a risk of failure with your workaround.

If you still think there is a need

[2016-03-15 10:03] shannonmoeller commented on #37
Good call on `document.createElement` for the containing div. I can see how this would be an edge case. Thanks for the consideration and improvement.

In case it's helpful to others, this is where I ended up:

[code]

[2016-03-15 10:03] #37 closed

[2016-03-15 18:02] epinapala opened #38 "TypeError: 'null' is not an object (evaluating 'morphedNode.nodeType')"
We have a setup where we are running tests on marko widgets, and are seeing the issue below :

PhantomJS 1.9.8 (Mac OS X 0.0.0)
TypeError: 'null' is not an object (evaluating 'morphedNode.nodeType') (/path/to/project/.test/lasso/static/node_modules/marko-widgets/node_modules/morphdom/lib/index.js:373)

In addition to this we are also seeing:

ERROR: '(node) warning: possible EventEmitter memory le

[2016-03-15 19:15] patrick-steele-idem commented on #38
In almost all cases, this is due to the original HTML element associated with a Marko Widget being removed from the DOM without properly being destroyed (using `myWidget.destroy()`). When the DOM node associated with a widget is removed then that results in `document.getElementById(widgetId)` to return null. The error should probably be better messaged by Marko Widgets, but I don't believe this is

[2016-03-17 01:27] DylanPiercey commented on #7
@patrick-steele-idem I created a https://github.com/DylanPiercey/vdo to create a lightweight (html focused) vdom. Would this change something like that work? What exactly needs to be done to achieve this?

[2016-03-17 02:52] patrick-steele-idem commented on #7
Hey @DylanPiercey, do the virtual DOM nodes created by `vdo` implement the following properties and methods associated with real DOM nodes?:

- `node.firstChild`
- `node.tagName`
- `node.nextSibling`
- `node.attributes`
- `node.nodeType`
- `node.nodeValue`

If so, then the diffing/patching would work even if the target DOM tree is a tree of virtual `vdo` nodes. The only thing that would need to ch

[2016-03-17 03:03] DylanPiercey opened #39 "Full page morph."
Currently using jsdom for testing which could be part of the issue, but the following diff detaches the document element and fails.

[code]

Am I doing something wrong? Even tried removing the doctype.

---

**Edit:**

Also tried doing this directly in `Chrome Version 51.0.2680.0 canary (64-bit)` and received the following error.

[code]
From:
https://github.com/patrick-steele-idem/morphdom/blob/m

[2016-03-17 03:10] DylanPiercey commented on #7
@patrick-steele-idem currently the vnodes are a bit different but I'd probably switch if things go well with this library.

Do you think that the vnodes should implement something like a `#toDOM` which would be called by morphdom or are you thinking that morphdom will somehow detect that a node is virtual and manually convert it to a real node?

[2016-03-17 17:28] patrick-steele-idem commented on #39
I feel like that is a very uncommon use case, but if you feel this is needed we could probably support it. If you have ideas on how to support this please let me know and as long as it doesn't add too much code or complexity then I would have no objections.

I'm curious, why would you do a full page morph?

[2016-03-17 23:11] DylanPiercey commented on #39
@patrick-steele-idem it's useful for isomorphic rendering. Currently I'm using https://github.com/tbranyen/diffhtml which does support this but am looking for something a bit more light weight.

Basically the idea is that you have a router in the browser and the server that renders the same html. Server side you send out html and browser side you morph the dom for perf and consistent state.

Curre

[2016-03-18 03:10] patrick-steele-idem commented on #39
The idea of running a server-side web framework is very interesting. Thanks for sharing. I went through the docs, but I'll need to take a look at the code to get a better idea of what exactly rill is doing.

As for diffing the entire page, I'm sure we can do it with a few small tweaks. Is that something you would be interested in working on? If not, I might be able to take a look soon, but I am no

[2016-03-18 09:23] pragmadash commented on #39
@DylanPiercey sorry, for advertisement, but you might want to take a look at [Catberry.js](http://github.com/catberry/catberry). It's very similar to what you've described and it uses morphdom in its rendering engine.

[2016-03-18 16:23] DylanPiercey commented on #39
@pragmadash I have been following Catberry from the beginning and it's a great project. Ultimately I made [Rill](https://github.com/rill-js/rill) because I grew tired of so many flux implementations and after much tinkering found "Isomorphic REST" to be a flexible, scaleable and progressive architecture for many types of apps.

@patrick-steele-idem Basically Rill is a middleware library that allow

[2016-03-20 16:36] laggingreflex opened #40 "npm package has a 22mb `.cache` folder"
The npm package installs with a `.cache` folder which is 22mb in size

[2016-03-20 17:03] pragmadash opened #41 "Better <head> element support"
Morphing `<head>` element should have a different algorithm because we have a set of immutable elements such as: `<style>`, `<script>` and `<link rel="stylesheet">`. Changing these element's attributes or re-creating of these elements causes style flickering and script reloading which breaks any app.

My proposal would be:
* Identify such nodes using its content and, additionally, `src` value for

[2016-03-21 01:38] howardroark opened #42 "Willing to add bower file and use the UMD technique?"
First of all... thanks so much for making this!!!!!

Since learning about virtual dom I though it was such an ingenious idea for solving the problems you mention with replacing innerHTML as your state changes.  The issue is that all the stuff out there requires a paradigm shift in terms of how I currently approach things. I just like the idea of templates more JSX. Then I found this!

When buildin

[2016-03-21 15:48] patrick-steele-idem commented on #42
Hey @howardroark, glad to see you are interested in `morphdom`.

I don't use bower, but I am not opposed to adding a `bowser.json`. I am, however, opposed to checking in a build artifact into the source code repo. I don't want the UMD wrapper to be part of the source code (it's ugly and adds unnecessary bloat), so we are using a build tool to add the UMD wrapper as a build step for those that want

[2016-03-21 16:09] howardroark commented on #42
I totally hear what you are saying! I am approaching this with a much more pragmatic thought process.  If there is a process for supporting UMD that is all i really need to know :)  It would be awesome if you added a bower file and dist folder for the build file to go... though i can always fork and do that if you want to keep this cleaner.

The biggest thing with bower for me is that it makes it

[2016-03-21 16:44] patrick-steele-idem commented on #42
I understand the need to be pragmatic so I suppose I could bend a little for this project... I'll begrudgingly check in the dist files :) I'll let you send a PR to add the bower file.

Pick [Lasso.js](https://github.com/lasso-js/lasso) :) Unlike Webpack and browserify, It's a complete asset pipeline and JavaScript module bundler for Node.js :) It'll pull in JavaScript/CSS/images/fonts/etc. from np

[2016-03-21 16:46] patrick-steele-idem commented on #42
@howardroark

Here you go: https://github.com/patrick-steele-idem/morphdom/commit/9da3309de9854ab2eae8751edc08aa061088b2d6

Please send PR to add the required bower file.

[2016-03-21 17:02] patrick-steele-idem commented on #40
Ouch! Thanks for letting me know.

[2016-03-21 17:04] #40 closed

[2016-03-21 17:05] patrick-steele-idem commented on #40
Trimmed down version of `morphdom` published: `morphdom@1.1.4`

Thanks again for letting me know.

[2016-03-21 17:31] laggingreflex commented on #40
no problem! was working on some size-sensitive project when I found out. Too bad [npm doesn't respect a global `~/.gitignore`](https://github.com/npm/npm/issues/5673) (expected to be fixed soon I think) in which I'm sure you may already have such folders.

[2016-03-21 19:26] howardroark commented on #42
Awesome... I'll do that now. You can blame it all on me!!!

I will check out lasso as well!

[2016-03-26 15:58] callum opened #45 "Lifecycle of elements"
I've been trying to work out a sensible way to handle the lifecycle of elements. It would be useful to know when an element is added to the document, when it's morphed, and when it's discarded. Though this functionality exists (aside from creation), it's not very well set up to allow you to respond to these changes on a per-element basis.

[code]

Some other inspiration...
https://github.com/subst

[2016-03-28 14:58] patrick-steele-idem commented on #45
Hey @callum

Lifecycle event listeners are supported for all events except for when a new element is added to the DOM for the first time.

Here are the corresponding callbacks (see: :

- When it is morphed: `onBeforeMorphEl`
- When it is discared: `onNodeDiscarded`

I'm not opposed to adding support for a callback to get notified "when a new element is added" as long as there is no significant per

[2016-04-02 01:55] shannonmoeller opened #47 "Detect reorder of siblings"
Any way to detect the reorder of siblings? Perhaps optionally to avoid a performance penalty for this edge case. I have a list of videos. If video 2 is playing and video 1 is removed or reordered, video 2 is stopped because its source attribute is changes.

[2016-04-02 01:56] shannonmoeller commented on #47
I'm thinking this could be used for a quick comparison:

https://developer.mozilla.org/en-US/docs/Web/API/Node/isEqualNode

[2016-04-02 02:01] patrick-steele-idem commented on #47
Hey @shannonmoeller, the recommended solution is to assign an `id` attribute with a unique value for each `<video>` element and `morphdom` will match the elements up by the assigned ID.

If you don't like assigning an "id" attribute then you can provide your own `getNodeKey(el)` function:

[code]

Let me know if that doesn't solve your problem.

[2016-04-02 02:02] shannonmoeller commented on #47
Oh, awesome. I wasn't aware of that. Thanks!

[2016-04-02 02:58] shannonmoeller commented on #47
This doesn't fully solve the issue. When an item is removed from the list, the other elements remain, so we're half way there. However, if an element is moved down the list, it's still getting overridden by the new element, even with the same `id`.

[2016-04-06 23:53] DylanPiercey opened #49 "Perf Optimizations"
Might be able to squeeze out some perf if we use the DOMParser API, (ie9+).
https://jsperf.com/domparser-vs-innerhtml-vs-createhtmldocument/8

What are your thoughts on this?

---
Edit:

Found a better JSPerf, https://jsperf.com/domparser-vs-createelement-innerhtml/6.
Seems to suggest that caching the "createRange" and the "innerHTML el" would yield better results which we are doing.

Also http://

[2016-04-08 15:01] marcoemrich opened #50 "Strings with Space/Whitespace-Padding won't be parsed correctly"
This works:

morphdom($("#out"),
[code]

Howerever this doesn't:

[code]
(not the position of the opening Backtick-Quote)

This als won't work:

`morphdom($("#out"), ` <div id="out">Foo</div>``

(Note the leading Space in the string)

[2016-04-08 15:02] marcoemrich opened #51 "Strings with Space/Whitespace-Padding won't be parsed correctly"
This works:

[code]

Howerever this doesn't:

[code]
(not the position of the opening Backtick-Quote)

This als won't work:

[code]

(Note the leading Space in the string)

[2016-04-08 15:03] #50 closed

[2016-04-08 15:03] marcoemrich commented on #50
Sorry Duplicate of #51

[2016-04-08 15:21] patrick-steele-idem commented on #51
Hey @marcoemrich, it makes sense that `morphdom` would not work since you are trying to morph a single DOM element to text (whitespace) + a DOM element. We could update `morphdom` to trim the target string but I feel like that is not the right thing to do since I don't think there should be extra whitespace passed to morphdom in practice. Out of curiosity, why do you have extra whitespace?

[2016-04-08 15:49] marcoemrich commented on #51
It's mostly a matter of style. I'm used to write

[code]

Instead of

[code]

The reason is to have a clearer html structure, that is not burdened by the quote-Symbol (looking similar to jsx). Personally I don't a have big problem to switch to the second style.

I still think, however, that it might be a problem, because it violates the "principle of least surprise". If some dev just naively uses

[2016-04-08 16:34] patrick-steele-idem commented on #51
You are right that the currently the code does fail in a surprising way. The current code is blindly picking the first node in the parsed target DOM: https://github.com/patrick-steele-idem/morphdom/blob/0814736664841bddf256bd23d17e655ce36a6d02/lib/index.js#L41

We probably should do something similar to the following:

[code]

We would you be interested in trying out that change (or a similar chan

[2016-04-10 20:08] marcoemrich commented on #51
sure. If I find the time, I will take a look tomorrow.

On Fri, Apr 8, 2016 at 6:34 PM, Patrick Steele-Idem <
notifications@github.com> wrote:

[2016-04-18 16:15] leeoniya opened #52 "js-repaint-perfs / dbmonster"
Hey @patrick-steele-idem ,

Continuing https://github.com/mathieuancelin/js-repaint-perfs/pull/53 so not to clutter the pull req with OT discussion...

React is quite slow (not sure how much faster v15.0 is). Though you could make the argument that it doesn't matter from its popularity.

Well, 7.7k (morphdom) [1] vs 10.9k (domvm) [2] or others [3][4][5] is a negligible difference. Even less so aft

[2016-04-18 16:44] patrick-steele-idem commented on #52
Very true. While people like to say "React has amazing rendering performance" that is not really what the authors ever claimed. I think it is fair to say that the authors of React have always claimed that it is "good enough". The authors of React really just wanted to introduce the simplicity of server-side rendering to the browser (i.e., just rerender everything) while maintaining good performanc

[2016-04-18 17:33] leeoniya commented on #52
No, of course not. And yes, dbmonster is a pissing contest. BUT, it's extremely valuable to gauge lib efficiency. Even if you don't redraw at 60 fps, doing so is very telling about the amount of micro-optimization that a view lib requires to get good perf/low latency and also translates directly into the battery life of mobile devices.

I'm comparing minified sizes: https://github.com/patrick-stee

[2016-04-18 18:03] patrick-steele-idem commented on #52
I don't necessarily disagree, but it goes back to my point that performance will really depend on how `morphdom` is being used.

I fed the unminified version (https://github.com/patrick-steele-idem/morphdom/blob/master/dist/morphdom-umd.js) into Google Closure Compiler to get my drastically different (and better) numbers.

There's tradeoffs in every design. Some design decisions will favor the sys

[2016-04-18 18:03] #52 closed

[2016-04-18 19:04] leeoniya commented on #52
Yes, this is a good perk of all pre-compiled templates.

Also true. I'm considering moving `domvm` to hyperscript to reduce GC pressure for 2.0 in some distant future. While this would remove the compulsory JSONML/array allocation before the vnode objects are built, it would also bloat the lightweight "IR". Whether the trade-off is worth it is quite unclear as the lib is already *very* fast. In ad

[2016-04-18 21:59] leeoniya commented on #52
My main gripe (and was my initial comment) was that I hoped to be convinced that vdom is not necessary, but in reality the penalty paid for avoiding it is simply too large without having to write a ton of extra hook code to short-circuit the build/diff/patch at every level.

morphdom's README spends a considerable amount of time explaining how the DOM is fast enough and that a vdom is not necessar

[2016-04-18 23:15] patrick-steele-idem commented on #52
"slow" is relative. To say the DOM is slow is very misleading and I stand by the statement. I never claimed morphdom was the fastest and I do believe that it will have great performance in 99% of applications and the time spent in the render and update code will not be noticeable.

Also, I don't disagree that there is overhead with the DOM and creating real DOM nodes that are temporary will have m

[2016-04-18 23:46] whiteinge commented on #52
Short follow-up about the PR. That repo distinguishes between 'naive' and 'optimized' approaches (the yellow and orange boxes). My addition is obviously **not** an optimized approach 😉 .

What has tickled me the most since stumbling on Morphdom is that the DOM performs _better than expected_. The _naive_ implementation offers middle-of-the-road performance. Most libs on that site are in the mid-tw

[2016-04-22 04:01] DylanPiercey commented on #39
@patrick-steele-idem Although we addressed this in my PR I am just getting around to testing this further. In my tests the diffing has been working well (visually) but I just dug a little deeper to find that it is actually discarding all nodes and resetting them on morph. Do you think you could help narrow down the cause?

[2016-04-26 03:16] #49 closed

[2016-05-07 05:13] tbranyen opened #53 "Support diffing #document-fragment"
Would it be possible to support the following use case:

[code]

Example using diffHTML: https://github.com/tbranyen/virtual-list/pull/2/commits/5500f1c0a90c47f74fc624fcbefedfbaa01b3b82#diff-9ec5f0d45b1fdec47275a0f431b03f62R75

I'd like to make this work with morphdom as well.

[2016-05-07 05:15] tbranyen commented on #53
After more testing it appears that the children are diffed, but the parent container is removed. Either way my demo for a virtual-list module should work with morphdom. You get a container element and a fragment and need to merge the childNodes of both.

[2016-05-14 18:09] juliangruber opened #54 "update deprecated deps"
getting a couple warnings on a fresh npm install:

[code]

[2016-05-14 18:22] juliangruber commented on #54
i'm working on this

[2016-05-14 18:29] juliangruber commented on #54
except for buffer-browserify there's not much we can do about this. mocha wants to keep supporting node 0.8

[2016-05-14 18:29] #54 closed

[2016-05-14 19:37] juliangruber opened #56 "tests fail"
this happens after a fresh npm install:

[code]

[2016-05-19 22:04] AddictArts opened #58 "Examples look like nodejs code, but they are browser dependent"
I had hoped this could be run in nodejs and maybe it could with jsdom. Could be clearer about being only a browser implementation.

[2016-05-20 06:38] yoshuawuyts commented on #58
Try using [raynos/document](https://github.com/Raynos/global) to render in Node:
[code]

[2016-05-20 17:53] AddictArts commented on #58
Thanks but at least in the REPL it does not work

TypeError: Cannot read property 'nodeType' of undefined
    at morphdom (/.../node_modules/morphdom/lib/index.js:387:28)
    at repl:1:1
    at REPLServer.defaultEval (repl.js:272:27)

[2016-05-20 17:57] AddictArts commented on #58
I put it in a script and still no luck

/.../node_modules/morphdom/lib/index.js:29
    if (!range && document.createRange) {
                  ^

ReferenceError: document is not defined
    at toElement (/.../node_modules/morphdom/lib/index.js:29:19)

[2016-05-20 18:01] AddictArts commented on #58
My motivation is patching html on the server. Example finding an element by css selector say and then modifying it, morph it. There is an interesting project html-element, but I didn't get far with it running into issues. Thanks again

[2016-05-22 17:31] dazld opened #60 "Incorrect premise in readme"
Applaud your work, and looks like a great project!

I just want to pick a little hole in your premise for why people use things like react - it's categorically not because the DOM is slow, but more to do with the logic around handling competing updates to a nested tree structure.

Expanding on this example - a set of nested views. A call to render higher up the tree should (probably) not cause the

[2016-05-22 17:43] yoshuawuyts commented on #60
Do you have any quotes where that's the case, because it's not what I'm gathering from the README. From the "what about the virtual DOM" section:

Feels pretty far removed from the "why" of using React.

[2016-05-22 17:56] dazld commented on #60
I was looking particularly at the line `The premise for using a virtual DOM is that the DOM is "slow".` - just this. Do my points above make sense in this context? Am more than happy to be corrected if I've got something wrong.

[2016-05-22 19:02] yoshuawuyts commented on #60
Oh yeah, alright

[2016-05-22 20:12] patrick-steele-idem commented on #60
Hey @dazld, I see where you are coming from, but optimizing what part of the tree is rerendered and updated is not limited to a virtual DOM-based solution. You could just as easily be smart about rerendering and diffing/patching only the portions of the real DOM tree that are impacted by state changes.

I consider `morphdom` more of a lower level library for diffing/patching a DOM subtree, but you

[2016-05-22 21:29] dazld commented on #60
Great reply, thanks for taking the time @patrick-steele-idem

I think probably just expanding a bit might make it clearer. Instead of the blanket statement which is there right now, perhaps incorporate some of the detail from earlier in the readme, and your reply now. Just for kicks, something like the following..?

[code]

[2016-05-23 14:14] patrick-steele-idem commented on #60
Thanks @dazld. I'm not opposed to updating the docs for more clarity. I'll give it some thought and update soon. Your paragraphs are a good start. Thanks again.

[2016-05-24 20:41] patrick-steele-idem commented on #34
Hey @shawnbot, it would be great to get some help with this. When I was working on this previously I found that things worked differently in different browsers. If I remember correctly, newer browsers didn't need namespaces for SVG elements, but older browsers did. I would hope we could avoid making `morphdom` be fully namespace aware since it will make the code larger and likely slower. My hope i

[2016-05-25 03:09] patrick-steele-idem commented on #22
Doing some house cleaning... this has been implemented already so closing the issue.

[2016-05-25 03:09] #22 closed

[2016-05-25 03:11] patrick-steele-idem commented on #34
That would be extremely helpful @shawnbot. Thank you for working on this! I'll be happy to review the PR or answer any questions you might have. Thanks again.

[2016-05-25 03:48] patrick-steele-idem commented on #56
I meant to check in a fix for this, but ran out of time. I will restore the tests first thing tomorrow.

[2016-05-25 05:59] xi commented on #22
Thanks for fixing *and* for house cleaning :+1:

[2016-05-25 09:23] kapouer commented on #47
Isn't it possible to use all Node attributes as key ?

[2016-05-25 18:19] patrick-steele-idem commented on #56
Some things came up this morning so took longer than expected, but the tests have been restored. Fixed by https://github.com/patrick-steele-idem/morphdom/commit/a6263b3f68cf4ad1729468370ac4176451da97d6

Please let me know if you still see issues. Thanks.

[2016-05-25 18:19] #56 closed

[2016-05-25 18:19] patrick-steele-idem commented on #56
NOTE: You will need Node.js v4+ to run the tests now

[2016-05-27 19:54] #42 closed

[2016-05-27 21:02] patrick-steele-idem commented on #34
Fixed by https://github.com/patrick-steele-idem/morphdom/pull/61

New version published: `morphdom@1.4.0`

[2016-05-27 21:02] #34 closed

[2016-05-28 02:47] patrick-steele-idem opened #62 "Node.ELEMENT_NODE and Node.TEXT_NODE not available in all browsers"

[2016-05-28 02:48] #62 closed

[2016-05-28 02:49] patrick-steele-idem commented on #62
New version published: `morphdom@1.4.1`

[2016-05-28 17:51] reenko opened #63 "Removed xlink:href atribute in svg on v1.4.1"
On version 1.4.1 I have a problem with patching svg.
In DOM:
[code]

Patching remove `xlink:href` attribute.

I create test:
[code]

Failed:
[code]

[2016-05-30 07:18] shock01 commented on #63
for (i = attrs.length - 1; i >= 0; i--) {
        attr = attrs[i];
        attrName = attr.name;
        attrValue = attr.value;
        attrNamespaceURI = attr.namespaceURI;

        fromValue = attrNamespaceURI ?
            fromNode.getAttributeNS(attrNamespaceURI, attrName) :
            fromNode.getAttribute(attrName);

        if (fromValue !== attrValue) {
            if (attrNamespaceURI)

[2016-05-30 07:18] shock01 commented on #63
No idea if it will fix it. I can't run the morphdom testsuite locally

[2016-05-30 19:10] shock01 commented on #63
https://developer.mozilla.org/en-US/docs/Web/API/Node/localName
localName is actually mentioned as obsolete. No alternatives are offered at the moment.

Basically if you set the namespaces correct the nodeName/name property will be presented without the namespace prefix (not fully qualified). So something must be going wrong in the implementation of morphdom regarding setting the attributes. I sus

[2016-05-30 19:15] shock01 commented on #63
The following code is also incorrect
if (fromValue !== attrValue) {
            if (attrNamespaceURI) {
                fromNode.setAttributeNS(attrNamespaceURI, attrName, attrValue);
            } else {
                fromNode.setAttribute(attrName, attrValue);
            }
        }

First it should be checked if the attribute has the same name and namespace.
And after that it should verify a

[2016-06-01 01:02] #63 closed

[2016-06-01 01:04] patrick-steele-idem commented on #63
I looked into this issue and found using `attr.localName` (if available) as the best solution.

New version published with fix: `morphdom@1.4.2`

Thanks for reporting the problem! Please let me know if you still see issues.

[2016-06-01 16:14] reenko commented on #63
Thank you for fixing this. It's work for me! I tested on MacOS(Safari/Chrome/FF), Ubuntu(Chrome/FF), Windows (IE11) and mobile devices(iOS/BlackBerry).

[2016-06-02 00:33] brandonros opened #65 "300ms morphcom call, followed by 300ms (program) (DOM) call in profiler"
https://gist.github.com/anonymous/71cec266f8e04f3bf05f1fc67116c5a1

Here is a snippet of the HTML. If you could, repeat the `<tr>`s until you reach about 1.5MB.

This acts as #pick_table.

Some very small changes are made (background color, maybe a 0 to 1 in quantity, etc.)

I generate the HTML as a string inside of my app. I then flush it straight to the DOM.

Offending code:

[code]

Is there an

[2016-06-02 01:03] patrick-steele-idem commented on #65
Hey @brandonros, the first thing that comes to mind if that it will take a long time to walk a DOM tree that large so you should use the provided hooks to skip parts of the DOM tree that you know did not change. Something similar to the following should drastically improve the performance if it is feasible for your use case:

[code]

Does it seem like that might solve your problem?

[2016-06-02 01:06] patrick-steele-idem commented on #65
Actually, you should skip rendering parts of the DOM tree that you know did not change. If you know a portion of the DOM tree did not change then just put a placeholder node as an indicator and use the `onBeforeElUpdated` hook to skip that part of the DOM sub tree.

[2016-06-02 14:29] brandonros commented on #65
@patrick-steele-idem On top of that, is

[code]

the most efficient way to do what I am trying to do? I'd really prefer to just diff two blocks of HTML and patch the differences.

[2016-06-02 14:32] patrick-steele-idem commented on #65
Yeah, I don't see any performance issues with that code, but I would skip the query selector:

[code]

[2016-06-08 18:54] cfinucane opened #66 "DOM is altered unnecessarily in the presence of comments"
I noticed that morphdom was updating my DOM way more than I expected, and narrowed it down to the presence of comments.  Here's a simple test I added that fails (pull request with naive fix to follow).

[code]

[2016-06-09 16:18] patrick-steele-idem commented on #66
New version published with fix: `morphdom@1.4.3`

Thanks!

[2016-06-09 16:18] #66 closed

[2016-06-12 19:44] AutoSponge commented on #58
You probably want to use jsdom. It's how I run my tests for my morphdom projects.

[2016-06-12 19:46] AutoSponge commented on #53
I'm pretty sure you just need to use the `childrenOnly` flag in the options parameter.

[2016-06-12 19:52] AutoSponge commented on #51
I also ran into this when I'm mounting a server-rendered div with whitespace in it.

To solve this problem, I wrote my render function with a bit of code like this:
[code]

As far as the different lengths issue, the top of my renderer does this:
[code]

By iterating the `length`, I can decide to append, remove, or morph each elm/child "pair".

[2016-06-12 20:03] AutoSponge opened #68 "Uncaught TypeError: Cannot read property 'replaceChild' of null"
I ran into this today. I tracked it down, but it wasn't obvious, so I'm posting to help anyone else who may get the same issue.

The problem was caused by generating duplicate ids. When morphdom creates an internal map it uses the id. When it reaches a second node with the same id, it seems to pull from the map. If that node is already removed from the dom, you'll get this error.

To track it down

[2016-06-14 13:09] yoshuawuyts commented on #58
@AddictArts if you want to patch HTML on the server consider using [hyperstream](http://ghub.io/hyperstream); unless it's for a one-off CLI tool I'd evade doing too much dynamic stuff when building servers tho, it will definitely impact perf

[2016-06-14 19:47] AddictArts commented on #58
@AutoSponge that is what I tried first and it doesn't work. I don't remember the error, but I had hoped that would work.

@yoshuawuyts thanks, I'll have a look. My purpose was CLI

[2016-06-18 16:48] patrick-steele-idem commented on #53
I do think we should properly handle a document fragment, but I'm not quite sure what the "correct" behavior should be when a document fragment is provided:

- Are you intending on diffing just the child nodes of the source element with the child nodes of the target document fragment?
- Should we diff the source node with the first child of the target document fragment?
- What if there are multipl

[2016-06-20 14:51] AutoSponge commented on #58
@AddictArts If you provide an error msg, or gist I'll try to help

[2016-06-20 17:10] AutoSponge opened #69 "isEqualNode waiting for polyfill?"
I noticed the following commented code:

[code]

This seems entirely reasonable. If this is waiting on a polyfill for <IE9, I suggest just returning `false`. It won't be any slower or faster in IE but it could speed up other browsers. If there's another reason, then by all means, explain :)

[2016-06-20 17:30] patrick-steele-idem commented on #69
It's worth benchmarking but the recursive nature of `isEqualNode` concerns me:

https://dom.spec.whatwg.org/#concept-node-equals

Essentially, calling `isEqualNode` would do a deep comparison and then `morphdom` would end up repeating the comparison if there were any differences at any level in the tree. If there was a way to limit the comparison to only be shallow comparison of the top-level elem

[2016-06-20 22:32] AddictArts commented on #58
Thanks @AutoSponge I tried again to see an error, but things worked this time. I did the following.
[code]

So, I think I had started this issue because the README makes it look like you should be able to copy and past into a node REPL and that is not true. While the examples in the README.md use nodejs require() they are not complete. As above I show you need jsdom. It would be nice if the exampl

[2016-06-23 01:21] AutoSponge commented on #69
Since jsperf is down, I'll create a [repo](https://github.com/AutoSponge/morphdom-isequalnode) and work out an example. I have a couple of hypothesis.

I expect using isEqualNode will add more time when changes are present. I expect isEqualNode will reduce time when changes are not present. If I'm correct, this might continue to see isEqualNode not being used inside morphdom. Instead morphdom woul

[2016-06-24 12:59] weslleyaraujo opened #70 "HTML comments breaks morph"
Hi all, at first great work!

I came across with something that seems to be a issue,
consider the following:

[code]

the `el` variable behaves exactly as it should be:

[code]

but in the dom what I actually got is this:

![image](https://cloud.githubusercontent.com/assets/2286385/16338254/b6c89aee-3a1b-11e6-98a0-132fe6150d32.png)

I am not sure if this is a bug or an expected behavior,
any insig

[2016-06-24 15:59] patrick-steele-idem commented on #70
Hey @weslleyaraujo, thanks for the feedback!

This is the expected behavior, but `morphdom` should probably report an error to the user. What's happening behind the scenes is that `morphdom` is parsing the HTML provided as the second argument using `createContextualFragment(html)` and then it is picking only the _first_ child as the target node: https://github.com/patrick-steele-idem/morphdom/blob

[2016-06-24 16:00] #70 closed

[2016-06-26 16:13] mAAdhaTTah commented on #65
Only somewhat-related question, but is this to say that you can use `onBeforeElUpdated` to "blackbox" a chunk of the DOM? Cuz that would be really helpful.

[2016-06-27 08:52] weslleyaraujo commented on #70
Thanks for the insights!

I think that some kind of warning/error would be very useful in this case,
the example above was just a test that I was doing to check... but back in a real world project, I took quite long to find out what was happening.

I think this might be something to add on the roadmap for the next major release,

thanks once again!

[2016-06-30 13:30] karfcz opened #71 "Button element loses class when removing name attribute in IE, Edge"
Some weird bug occurs in IE only (8-11 and Edge as well). When morphing a `button` element with a class and a name attribute to a `button` that only has the class but not the name, the resulting button will have an empty class attribute.

The critical part of code is a call of `removeAttributeNode` in `morphAttrs` function:

https://github.com/patrick-steele-idem/morphdom/blob/master/lib/index.js#

[2016-06-30 13:43] karfcz commented on #71
And the same happens for input and textarea elements as well, most likely for any form element.

[2016-07-01 00:03] AutoSponge commented on #65
Based on my experiment with isEqualNode [here](https://github.com/AutoSponge/morphdom-isequalnode), I would suggest to try iterating the `<tr>`s and calling morphdom on each one that fails isEqualNode. As was mentioned, you will save time by not morphing something that does not change. Then, you need to account for more or less rows by simply appending child or removing child appropriately.

Alter

[2016-07-01 15:41] patrick-steele-idem commented on #71
Very interesting. Would you be interested in submitting a fix that you have tested with IE for me to review? Thanks for reporting the problem.

[2016-07-01 23:49] AutoSponge commented on #51
I've published my render function here: https://github.com/AutoSponge/morphdom-render

You should wrap it with setTimeout or requestAnimationFrame on the browser for best performance.

[2016-07-02 00:09] AutoSponge commented on #53
I posted a render function that should work for your documentFragment use.

https://github.com/AutoSponge/morphdom-render

[2016-07-02 00:14] AutoSponge commented on #45
I would prefer an eventEmitter implementation here. Right now, I'm building apps just fine without lifecycle events. And I think the forced noops are unnecessary. If, instead, morphdom emitted events based on the actions it took, you could easily add callbacks if you want them. This would also allow morphdom to be wrapped by an Observables implementation to create a stream of changes.

Am I the on

[2016-07-02 00:18] AutoSponge commented on #39
Please keep in mind that morphing HEAD tags client-side will probably not work for most use cases. For instance, og meta tags will not get morphed in time and Facebook will only see the sever-rendered ones.

Additionally, morphed script and link tags will likely become async and no longer block so you'd likely get flash of unstyled content or have scripts loading out of order.

[2016-07-02 01:30] yoshuawuyts commented on #45
I'm actually not particularly fussed about lifecycle events at the level of the diffing engine anymore; [on-load](https://github.com/shama/on-load) allows hooking into `load` / `unload` events on a per-component basis. I feel it solves most use cases for lifecycle events.

The one thing it doesn't allow doing, however, is setting the equivalent of React's `.shouldComponentUpdate()`, which means th

[2016-07-02 01:43] DylanPiercey commented on #39
@AutoSponge these points are valid, however it is still convenient to have full page diffing if you are doing universal/isomorphic JavaScript for things like the title/meta tags.

[2016-07-02 12:15] AutoSponge commented on #45
@yoshuawuyts Agreed. `shouldComponentUpdate` would be helpful for large interfaces to either not render out-of-viewport or delegate it to a background/idle task. While I haven't tried that yet, I suspect everything we need is already in morphdom via the `#onBefore...` hooks.

By returning `false`, I can prevent a node/tree from rendering. If I then cache that node in a map with the target that I w

[2016-07-02 12:33] AutoSponge commented on #58
@AddictArts, I considered making a morphdom REPL but then would have to accommodate every flavor of HTML generation. So, instead, I published a [tonicdev example](https://tonicdev.com/autosponge/morphdom-jsdom-example). Would you find it helpful to have more examples like this?

[2016-07-02 12:42] AutoSponge commented on #41
I believe this is the same concern as https://github.com/patrick-steele-idem/morphdom/issues/39

[2016-07-02 13:03] AutoSponge commented on #39
So, this functionality was added to morphdom but it doesn't work and you're not using it?

I'm doing universal render but since I know how script/meta/link tags work, I don't try to morph them. My router updates the title and render (via morphdom) updates the body. The fact that you're trying to render the entire document on the client doesn't make your approach more convenient, it merely hand wav

[2016-07-02 21:06] AutoSponge commented on #69
I tested doing this:

[code]

This greatly speeds up the benchmarks (basically smashing the previous todoMVC scores). However, the tests fail because `onBeforeElUpdated` and `onElUpdated` were not called for the `fromEl` AND all of its children. My question is, if the node wasn't discarded (it found a match) but wasn't morphed (because it didn't need to be) should it emit?

[2016-07-03 21:15] dfcreative commented on #29
I also faced that, and should add that this issue is more seroius than it may seem.

First time I stumbled upon that in [choo](https://github.com/yoshuawuyts/choo/issues/77), when needed to implement popup, which creates container element in view, which was just replaced by choo’s view output.

Now I am trying to use morphdom in [prama](https://github.com/dfcreative/prama), where I use [multirange

[2016-07-05 17:47] reenko opened #72 "Element tagName is not patching by id"
I create test:

[code]

Failed:

[code]

[2016-07-05 20:32] howardroark commented on #29
I just got morphdom working in my project and... I guess I just sort of assumed that events would play into this. Whoops!

I will admit that my understanding of how event bubbling works is a bit fuzzy.

It would be awesome to see an example of how to retain a couple events assigned to an original element... Ideally involving jQuery.

Otherwise it works great!

[2016-07-05 20:45] patrick-steele-idem commented on #29
@howardroark When updating the view using `morphdom`, I recommend unsubscribing from all jQuery event listeners and then reattaching event listeners after the DOM is updated. `morphdom` only guarantees that the original DOM will be modified to match the target DOM, but it doesn't do anything with event listeners.

As for event bubbling, the following might help clarify: http://markojs.com/blog/a-c

[2016-07-05 20:54] howardroark commented on #29
The way I am doing it involves rendering a bunch of views into a single element and then morphing that into the original.  By the time I am at that step I have lost the context to run the event assignment logic per view.   Really I was just hoping for a way to somehow copy what is there for each element somehow.

Thanks though, I'll have a look at the link :)

[2016-07-05 20:57] patrick-steele-idem commented on #29
@howardroark

Not exactly sure what your use case is, but you can use the `onBeforeElUpdated` event to get access to the "from element" and the "to element" during the DOM tree traversal. You can copy over properties, remove/add event listeners, etc. at that time

[code]

[2016-07-05 21:02] patrick-steele-idem commented on #72
Interesting. I'll take a look. Thanks for providing the test case.

[2016-07-05 21:10] howardroark commented on #29
Yeah... I think that is the best route. Since I am using jQuery I can probably leverage `$._data(element, "events")` and rebind them all as it finds data.

[2016-07-05 21:25] patrick-steele-idem commented on #69
@AutoSponge I know of at least one use case ([Marko Widgets](http://markojs.com/docs/marko-widgets/)) where is a possibility, albeit a very, very small possibility, that not emitting `onBeforeElUpdated` and `onElUpdated` for all elements could cause problems. `morphdom` already provides the hooks to take advantage of `isEqualNode` so maybe we just keep that outside the library:

[code]

Does that

[2016-07-05 21:33] howardroark commented on #29
Well I can see that `toEl` has all the correct events in place... they never make it to `fromEl` though.  Also, after running morphom all events are removed even if the element itself did not change.

I'll see about forking this and fiddling around to get them to persist somehow.  I got enough motivation to make this work.  Replacing innerHTML is making all my inputs unfocused ;)

[2016-07-05 21:35] #72 closed

[2016-07-05 21:36] patrick-steele-idem commented on #72
New version published with fix: `morphdom@1.4.41`

[2016-07-05 22:37] howardroark commented on #29
Ok I got something working if anyone is curious...

[code]

[2016-07-05 23:05] dfcreative commented on #29
@howardroark that works with jquery/EventEmitter/other event wrapper, which stores event callbacks somewhere. In pure DOM it is impossible to get complete list of listeners for a node.

[2016-07-05 23:24] howardroark commented on #29
@dfcreative That's good to know. I was a but skeptical about how nice that object was... didn't seem very "browsery" haha.

I think I should be safe since this setup uses backbone.js and jquery to put all events together.

[2016-07-05 23:31] dfcreative commented on #29
@howardroark well I wouldn’t rely on `var events = $._data(toEl, "events");` either. There is a reason `_data` is marked private.

[2016-07-06 01:49] AutoSponge commented on #69
@patrick-steele-idem I'm fine with that. Thanks for the example.

[2016-07-06 01:49] #69 closed

[2016-07-06 02:06] AutoSponge commented on #29
@howardroark I would start experimenting with event delegation so you understand how it works. You can use event delegation with jquery, but most jquery-users attach handlers directly to the elements. That's how everyone _used_ to do it. Here's an example from something I was working on:

[code]

This is fairly generic code that parses the id of the element that changed and passes the new quantity

[2016-07-06 14:16] howardroark commented on #29
Thanks @AutoSponge !  Is this a common practice now...to have a single change or click event?  I guess most events are just changing a model or a collection of models.

[2016-07-07 00:40] AutoSponge commented on #29
@howardroark I started doing this for performance reasons (and to prevent memory leaks) back when IE couldn't garbage collect handlers after the DOM element was removed. While it's not completely necessary for the same reasons on newer browsers, the pattern still has benefits.

Some frameworks enforce this but abstract it, like CycleJS, which uses a "stream" of DOM events which components subscrib

[2016-07-07 06:47] karfcz commented on #71
Yes, I can try it.

[2016-07-07 12:32] howardroark commented on #29
Thanks @AutoSponge !   You have certainly inspired me to do some experimenting :)

[2016-07-07 16:09] nichoth commented on #29
@howardroark This is how [yo-yo](https://github.com/maxogden/yo-yo/) works. See the index file there. It uses morphdom lifecycle hooks to update event listeners.

[2016-07-12 14:34] francescoagati opened #74 "use informations of native dom"
Native node has more informations that a virtual node.
What do you think about using outerHTML and cssText String for a comparison between 2 nodes first of iterate attributes and childs for know if something is changed?

[2016-07-12 16:34] francescoagati opened #75 "how to preserve attributes"
Hi,
i am playing with morphdom. in this example i see that the dom is redraw every time. ok can i preserve the dom and node attributes every refresh frame?

http://codepen.io/francescoagati/pen/KrymZL?editors=1010

[2016-07-12 19:46] AutoSponge commented on #74
morphdom does not currently use a virtual dom. DOM equality is already defined: https://dom.spec.whatwg.org/#concept-node-equals.  If you want to speed up diffing, you can use `#.isEqualNode()` or your own implementation like the example in https://github.com/patrick-steele-idem/morphdom/issues/69.

[2016-07-12 19:55] AutoSponge commented on #75
Not sure I understand the question. When I opened the devtools, I could see the pippa element being updated non-destructively. I would say that the animation looks smoother when you write it like this:

[code]

[2016-07-12 20:20] francescoagati commented on #74
i understand but my is only a curiosity. is a.innerHTML == b.InnerHTML && a.outerHTML == b.outerHTML a comparson between string and more performant?

[2016-07-12 20:24] francescoagati commented on #75
i wanna use 2 different update on with morphdom and another using vanillajs that works on the same node but on different properties. in devtools if i try to insert a new attribute, this is deleted from the update of morphdom

[2016-07-13 12:03] AutoSponge commented on #75
Morphdom will make your existing DOM look like your "target" DOM. So, if you don't pass the target attributes to morphdom, it will get removed.

[2016-07-13 12:10] AutoSponge commented on #74
The problem with string representations is that you will often get false negatives. The nodes could report unequal because attributes are in different order. We only care about the attribute keys and values being equal.

[code]

[2016-07-13 12:12] francescoagati commented on #74
right thanks :-)

[2016-07-13 12:14] francescoagati commented on #75
understand. one solution should be have a diff algorithm with plugins like in snabbdom.
see this example http://codepen.io/francescoagati/pen/XKZwkm where i use 2 virtual dom render, one complete and the other that works only on style properties.

[2016-07-13 12:32] AutoSponge commented on #75
If you want to write your own function that skips morphing certain elements, use `onBeforeElUpdated` and return `false` so it won't update. If you want to change just style properties, try doing it in that same function if you return `false`. If you want to apply the style changes after the fact, use `onElUpdated`.

[2016-07-13 12:34] francescoagati commented on #75
yes this should work goods. really thanks :-)

[2016-07-13 12:34] #75 closed

[2016-07-13 17:10] patrick-steele-idem commented on #71
Fixed by https://github.com/patrick-steele-idem/morphdom/pull/73

[2016-07-13 17:10] #71 closed

[2016-07-13 17:36] patrick-steele-idem commented on #74
It would be nice if browsers support a shallow comparison of a DOM node (don't compare child nodes). Something like the following `node.isEqualNode(otherNode, {depth: 0})`

In the mean time, I think the best option will be to loop over the attributes and compare the tag name.

[2016-07-13 17:36] #74 closed

[2016-07-13 17:38] patrick-steele-idem commented on #68
We should explore a better approach to indexing the target DOM to solve this issue and other issue. I'll close this issue, but thank you for sharing your learnings!

[2016-07-13 17:38] #68 closed

[2016-07-18 19:38] patrick-steele-idem commented on #65
Closing this issue because I don't think this requires any changes to `morphdom`. If you have any other questions please feel free to open another Github issue.

[2016-07-18 19:38] #65 closed

[2016-07-18 19:47] #47 closed

[2016-07-18 20:09] patrick-steele-idem commented on #58
Running morphdom on the server should be supported if you can simulate the browser environment. Closing issue because I don't think there are any changes required to morphdom, but please let me know if you still have questions or thoughts.

[2016-07-18 20:09] #58 closed

[2016-07-18 20:28] patrick-steele-idem commented on #45
@callum

I like what you did with `morphdom-hooks`, but what are your thoughts on changing the API a bit:

[code]

I realize that makes the user code dependent on `morphdom-hooks` wherever listeners are to be added, but maybe that is okay?

@AutoSponge

I think an EventEmitter API is better exposed as a wrapper to keep this library as small and as fast as possible.

@yoshuawuyts

As @AutoSponge me

[2016-07-18 20:28] #45 closed

[2016-07-25 21:42] AddictArts commented on #58
Thanks @AutoSponge. Sorry for the belated reply. It is not a change to morphdom I was after. It is more that the README.md implies a nodejs environment "var morphdom = require('morphdom');", which mislead me. I was thinking some explanation or the example you made would clear things up. I also think morphdom could recognize the "! browser environment" and let the user know with a friendly warning.

[2016-07-25 22:02] patrick-steele-idem commented on #58
@AddictArts if you include the universal module definition version of morphdom then a global `morphdom` variable will be created: https://github.com/patrick-steele-idem/morphdom/blob/master/dist/morphdom-umd.js

[code]

Do you think we need to provide docs for the usage of the UMD distribution?

[2016-07-25 23:19] AddictArts commented on #58
@patrick-steele-idem yes, thanks. I think that would help. Looking at "Usage" it implies a build process such as browserify or webpack right? unless I missed something in the README.md. When I encountered morphdom I thought it was nodejs ready, my mistake.

[2016-07-27 12:10] AutoSponge commented on #7
@DylanPiercey I looked at the virtual-dom docs again.

They have a `createElement` function which converts vdom to dom. We could have an option property hold the function that upgrades a vdom tree. If we did that for the other methods mentioned above (similar to the `hooks` virtual-dom uses) we don't need the vdom tree to implement that interface.

A plugin author could create all of the methods n

[2016-08-06 15:27] timwis opened #77 "Memoized elements are removed & added anyway"
Hello, I'd like to cross-post the issue shama/on-load#10 as @shama and @yoshuawuyts have suggested the issue may reside in morphdom.

I reported that:

@shama investigated, reproduced the issue, and diagnosed that:

The following code sample illustrates the issue, with a [live demo here](http://requirebin.com/?gist=5e76c5be3969b310fcbf2c73ee5f80d2):

[code]
Expected behaviour: `child on` only gets

[2016-08-06 16:50] arturi commented on #77
Currently struggling with this too. This demo I made might help visualize the problem: http://requirebin.com/?gist=0f7bb3b03959448e120f02d506f4cd7e

[2016-08-09 01:26] orthecreedence opened #78 "Elements under `onBeforeElChildrenUpdated` element removed if they have `id` set"
Hello! I've been using morphdom for a while without problems, but today I'm running into an issue (latest master) where the children of an element ignored by `onBeforeElChildrenUpdated` are being removed, seemingly only if they have `id` set.

I've narrowed this down to here: https://github.com/patrick-steele-idem/morphdom/blob/master/src/index.js#L537

Looks like `indexTree` puts all the elements

[2016-08-09 18:42] AutoSponge commented on #77
The element you're holding a reference to gets moved to the new tree when you pass the template to `bel`.  You should be able to watch this happen if you put a breakpoint right before you call `morphdom` and after you call `parent`.

Because the element is a reference, it's unique and can't live in two places at once.

[2016-08-09 19:58] AutoSponge commented on #78
A working example would be great, but I'll try to follow along. When you return `false` from `onBeforeElChildrenUpdated` you're skipping the subtree. Because things in the subtree have ids (which didn't match during `morphEl`) they get cleaned up.

The fix may involve `delete fromNodesLookup[...];` scoped to children of the `fromEl` that was morphed (but who wants to check every node in the lookup

[2016-08-09 20:09] arturi commented on #77
Thanks. So can this be fixed/worked around? Or is storing an element in a variable a no-go for effective morphdom diff?

[2016-08-09 21:26] AutoSponge commented on #77
If you don't try to memoize the element, just make `child` return an element, `morphdom` performs non-destructive updates and the handler only fires once (never fires for unload). If that doesn't work for you, I would need a more in-depth example to work to understand what you're trying to do.

[2016-08-09 21:39] arturi commented on #77
I was trying to solve this issue https://github.com/shama/bel/issues/26 by storing an image in a var as @yoshuawuyts suggested, so that a network request wouldn’t be made each time render is called:

And storing an element is useful sometimes, like for SVG icons in a separate file, which I now have to turn into functions, which is probably fine. This also seems to be related to an issue I was havi

[2016-08-09 21:49] orthecreedence commented on #78
Oh, interesting. I didn't even think about moving `indexTree` inside `morphEl`. Right now, the index is fully built before walking the DOM tree, and my worry is building it on the fly might have unintended side effects (for instance if checking for a moved node). That's why I'm wondering if just checking `onBeforeElChildrenUpdated` should be run inside of `indexTree` as well as inside `morphEl`.

[2016-08-09 23:06] AutoSponge commented on #77
I think this is what you're trying to do: http://requirebin.com/?gist=07d10f19b4d8b3c229eab907a50df3b9

I'm using `data-src` to lazyload the img. Since the `onload` only fires once, it copies the `data-src` to `src` and the image appears. When subsequent `img` elements are created, they don't have a `src`, so no network request. When using morphdom to update, we can check whether or not the `fromE

[2016-08-09 23:22] AutoSponge commented on #78
Yeah, you're probably right about `indexTree` needing to pre-index. This may not fix your "real-world" issue but I added this to your codepen and it worked as expected:

[code]

[2016-08-09 23:57] arturi commented on #77
Thanks! That makes sense, yes. A bit cumbersome to use manually though. Maybe there should be some higher-lever abstraction that is aware of `src` attribute and is rewriting it to data-src or something like https://github.com/shama/bel/issues/26#issuecomment-228558252.

[2016-08-10 00:13] timwis commented on #77
Hi @AutoSponge, thanks for the feedback. The use case that prompted the report originally was rendering a Leaflet map using an application framework that re-renders the page using morphdom any time a piece of state changes. Other libraries like d3 may do this as well, where calling their `.init()` function alters the DOM tree inside their container. Rather than re-initializing them at every re-ren

[2016-08-10 00:22] orthecreedence commented on #78
Oh good plan. I also realized I can gather all sub-elements with ids and send them to `onBeforeNodeDiscarded`. This works pretty well too.

[2016-08-10 00:55] AutoSponge commented on #77
I think there are two issues here, and I want to make sure I address both. First, my response before dealt with using a reference which causes the a "flash" as an element leaves the `document` as it is moved from one DOM tree to another, then gets appended again. I think I was able to demonstrate that you don't want to do that. The non-destructive updates make sure that the `onload` only fires onc

[2016-08-10 15:58] patrick-steele-idem commented on #78
Sorry for be slow to respond, but I was on vacation for the past two days. I need to investigate a little further, but it sounds like we need to put in a fix to not remove keyed/IDed elements that are skipped when a DOM subtree is skipped due to a callback hook returning `false`. The workaround you provided does work, but probably not ideal. I'll take a closer look this morning. Thanks for reporti

[2016-08-10 21:07] #78 closed

[2016-08-10 21:40] patrick-steele-idem commented on #77
I see the benefit of having a memoized HTML element, but the problem is that when `morphdom` sees that node it _moves_ it into the real DOM and on the next render `bel` is putting that memoized node back into the new target DOM tree and that node can't exist in both places at once. I think what is missing here is the ability to clone a node before moving it into the real DOM so that the memoized n

[2016-08-10 22:39] orthecreedence commented on #78
Cool, thanks!

[2016-08-10 23:36] spattersongt commented on #51
Had this issue today.  Willing to test out any patches.  For my issue simply trimming the template string worked

[2016-08-10 23:43] AutoSponge commented on #77
Just like I put the `cloneNode` in the render function above, I don't think this is a problem for `morphdom` to solve.

The `html` function of `yo-yo/choo` could check the parameters of the template literal and automatically clone a token that exists in the document (`<node>.compareDocumentPosition(document) === 10`)

[2016-08-10 23:57] AutoSponge commented on #51
`morphdom` probably can't accurately guess which text nodes are meaningful. While I haven't tested it myself, I think the best solution may be to use a minifier/compressor on the HTML/template (see https://github.com/kangax/html-minifier or https://github.com/Swaagie/minimize) and use the same generation methods consistently.

[2016-08-11 10:49] AutoSponge commented on #77
Btw, the cached node must be put into the DOM the first time because the 3rd-party side effects need to be cloned. But this may be the point to experiment with Vdom because the element could live in a Vdom tree.

[2016-08-11 16:00] patrick-steele-idem commented on #77
I believe an improvement to `morphdom` could help here since it would be inefficient to clone the memoized DOM node every render. Instead, it would be better if the memoized DOM node would only be cloned if it needs to be added to the DOM tree, but otherwise the memoized DOM node would be used for diffing. If `morphdom` provided a hook that could be used to return a cloned node before adding it to

[2016-08-11 16:26] AutoSponge commented on #77
I see your point about efficiency.

If we choose to use a vdom object that `morphdom` understands to be equivalent to the actual DOM node (`vdomNode#isSameNode(<node to compare>)`), then the "cached" element in the DOM tree is not an element at all but the vdom proxy implementing an equivalence check (faster than `cloneNode`). The check can refer to the cached node without being in the DOM tree.

[2016-08-11 16:40] patrick-steele-idem commented on #77
@AutoSponge diffing a virtual DOM node with a real DOM node definitely has promise. There would need to be the ability to upgrade the virtual DOM node to a real DOM node and that could also be done using the `onBeforeNodeAdded` hook and if we allowed a DOM node to be returned from `onBeforeNodeAdded`.

[2016-08-11 17:35] AutoSponge commented on #77
@patrick-steele-idem I'll try to make a POC for this using a custom component since that implementation is somewhat clear to me.

[2016-08-11 18:35] AutoSponge commented on #77
@patrick-steele-idem I made this (quick and dirty) example: https://github.com/AutoSponge/morphdom-cached-node/blob/master/app.js so you can see what I mean.

I put the `isSameNode` check in two places but I didn't have time to run the tests yet. I'll try to do that tonight and confirm it works.

[2016-08-29 16:41] mAAdhaTTah opened #79 "Document `getNodeKey`?"
Looking through the source, I found [this](https://github.com/patrick-steele-idem/morphdom/blob/master/src/index.js#L228) but there' no documentation on what it does and what we'd want to do with it. Is there a reason this is undocumented? What's the backstory/use-case?

[2016-08-29 17:35] patrick-steele-idem commented on #79
Thanks for brining this up. We do need to document the `getNodeKey` option, but I'll go ahead and add some notes here. One of the requirements of `morphdom` is that it always matches up "keyed" elements for diffing/patching. Keyed elements are elements that have a unique identifier and how that unique identifier gets assigned can vary by application. Originally, `morphdom` only supported the `id`

[2016-08-30 13:48] mAAdhaTTah commented on #79
Oh, that is useful. Kind of like diffhtml's `key` attribute? I'll look into a PR for adding this to the documentation, if that helps.

[2016-08-30 13:59] #79 closed

[2016-09-06 20:39] #77 closed

[2016-09-08 20:53] yoshuawuyts commented on #7
`yo-yo` and `choo` make use of a virtual DOM through [shama/bel](https://github.com/shama/bel) which translates html template strings into [raynos/global](https://github.com/Raynos/global) calls, which creates virtual elements using [raynos/min-document](https://github.com/Raynos/min-document) and delegating to the related `dom-*` files in the repo.

In production we use the [yo-yoify](https://git

[2016-09-08 22:52] patrick-steele-idem commented on #7
@yoshuawuyts Rest assured that `morphdom` will _not_ become any more complex when introducing support for diffing real DOM nodes with virtual DOM nodes 😄

The plan is to require that the virtual DOM nodes be API compatible with real DOM nodes for the minimal subset of API methods and properties required by morphdom. The only extra code that is required to support diffing a real DOM node with a vir

[2016-09-12 22:57] patrick-steele-idem commented on #7
Fixed by PR #83

[2016-09-12 22:57] #7 closed

[2016-09-29 19:05] gorhgorh opened #84 "unexpected repaint of <select> tag"
Hi there, i was doing a small tracker to test the choo framework that uses morphdom internally,
since trackers are music software, i have an interval running at a regular rate.

when i tried to add a ```<select>``` tag, said tag was in a component that is updated at each interval, whenever this interval happened, the select is redrawn, making it inaccessible

here is a small test case in this [gis

[2016-09-30 17:59] #84 closed

[2016-09-30 18:00] patrick-steele-idem commented on #84
Thanks for reporting the problem, @gorhgorh. It should be resolved with `morphdom@2.1.1` (I tested the fix locally). Please let me know if you see any other issues.

[2016-10-01 07:37] gorhgorh commented on #84
hi there, what a fast responce and fix !!! i'll update my test later tonight and report here.

[2016-10-01 08:42] gorhgorh commented on #84
all good in my test case now 👍

[2016-10-02 11:06] markbrown4 opened #85 "isSameNode seems leaky"
Here's an example in Choo of having an element in the tree with isSameNode returning true and subsequent elements not getting re-rendered either.

[code]

The `timeView` element after `untouchable` doesn't get re-rendered but I think it should.

A fix seems to be wrapping the element with isSameNode in another element.

[code]

[2016-10-04 14:00] AutoSponge commented on #85
Sorry I didn't see this earlier. I will update the test cases and see what the issue is. I have a feeling it's the code at https://github.com/patrick-steele-idem/morphdom/blob/master/src/index.js#L426 should `continue outer` instead of `return`.

[2016-10-04 23:35] AutoSponge commented on #85
I have a PR https://github.com/patrick-steele-idem/morphdom/pull/86 but the build failed (looks like problems with PhantomJS).

[2016-10-05 03:05] #85 closed

[2016-10-05 03:09] patrick-steele-idem commented on #85
Thanks for the fix @AutoSponge. New version published: `morphdom@2.1.2`

[2016-10-05 13:04] yoshuawuyts commented on #85
Yay! - this is amaze :D

[2016-10-10 16:24] emanchado opened #88 "Textarea problems"
It seems that the issue(s) mentioned in https://github.com/yoshuawuyts/choo/issues/253 (requirebin: http://requirebin.com/?gist=e544768abd0f67a9bb621c9001ac4e02) are not completely fixed. I'm not currently able to provide a straightforward testcase, but hopefully the above is enough for you to understand what's going on.

If it's not, ping me and I'll see if I can dig a little and build a minimal

[2016-10-11 00:54] AutoSponge commented on #88
There's a line in `yo-yo` https://github.com/maxogden/yo-yo/blob/master/index.js#L31

If you flip the `t`/`f` you ge the expected outcome: https://esnextb.in/?gist=81944ffdfa6ebc00827d58d7c5a91441

I'm going to close this.

[2016-10-11 00:54] #88 closed

[2016-10-21 03:54] DylanPiercey commented on #39
@AutoSponge - That PR could be reverted. The issue was it appeared to be working but ended up actually just discarding the entire page in most cases. I just ended up rolling my own solution anyways.

Thanks both of you for getting back to me on this issue though.

[2016-10-21 03:54] #39 closed

[2016-10-26 08:44] AlexGalays commented on #60
To be honest, I think Facebook overdid it marketing wise with all the bullshit speed arguments (react is one of the slowest implementation nowadays).
To me, It seems the most compelling case for virtual nodes is that your "templating" is just JS, you can manipulate the tree in any way you want with an actual programming language, rather than using strings and conventions. This is even more compell

[2016-11-16 02:57] sandro-pasquali commented on #60
Just want to be clear on this. So I started using marko widgets (and morphdom) because I was sold on the argument that dom<>dom morphing was just as fast as vdom solutions (I may have misunderstood). Am I right in believing that the current view of the team is that using vdom to make dom changes is much faster/better? Just want clarity. I would be a little sad if it turns out this "other" way of d

[2016-11-16 12:18] patrick-steele-idem commented on #60
@sandro-pasquali `morphdom` is plenty fast when diffing the real DOM with the real DOM and at eBay we never saw any performance problems in our webapps and all updates to the DOM were sub 2ms. With that said, in [often contrived] benchmarks `morphdom` didn't fair as well compared to other VDOM solutions so we updated `morphdom` to be compatible with VDOM (see: [morphdom/docs/virtual-dom.md](https:

[2016-11-20 20:01] MelleB opened #90 "Doc error in README: onBeforeNodeAdded should not return true but a node."
Hi,

The README contains an error in the example options object containing the event:

    onBeforeNodeAdded: function(node) {
        return true;
    },

It seems the result of onBeforeNodeAdded is used [actually used][1], and should return `node` instead of `true`.

[1]: https://github.com/patrick-steele-idem/morphdom/blob/master/src/index.js#L544

[2016-11-21 09:59] MelleB opened #92 "Morphdom fails to discard all removed childnodes"
Hi,

I noticed that Morphdom fails to remove childnodes in some situations:

*old*
- div#el
  - span
  - span
  - span
  - span#child4

*new*
- div#el
  - span#child4

It only only seems to remove one of the elements without an id. I have a failing test in https://github.com/melleb/morphdom/tree/morphdom-issue-92
Specifically: https://github.com/MelleB/morphdom/blob/morphdom-issue-92/test/browser/

[2016-11-21 13:38] MelleB commented on #92
Offtopic: It wasn't trivial for me where to put the test code, so I put it in a place of which I'm sure it needs to be moved to a different location. Maybe it's a good idea to extend the contribution guidelines?

[2016-11-21 13:40] patrick-steele-idem commented on #92
I'll take a look at this. Thank you for the failing test.

Agreed. I'll see if I can find some time to update the contributing docs to talk about running and adding tests and how to test in real browsers. Thanks for the feedback.

[2016-11-21 14:17] #92 closed

[2016-11-21 14:20] patrick-steele-idem commented on #92
I'm surprised it took this long for the bug to be visible, but it only occurs if a keyed node needs to be removed and that keyed node has siblings. `morphdom` was incorrectly reading the next sibling of the old node after it had been removed from the DOM. A simple reordering of the lines fixed the problem.

New version published: `morphdom@2.2.1`

[2016-12-14 08:27] caspervonb opened #93 "No changes still produce changes"
Given

[code]

Morph this into

[code]

Morhdom seems to be doing two changes in scenarios like this.

1. It will morph the removed script tag that has a src attribute into the other inline script tag.
2. It will discard the second script tag.

The "right" thing to do, would be to use the best match (e.g, its more likely that node 1 was removed here rather than node 1 was mutated into the properti

[2016-12-14 13:42] AutoSponge commented on #93
Unless you put an ID on the element, there is not "best match", morphdom walks the DOM tree and will use elements as it finds them, in order.

However, if you create a hook that skips rendering SCRIPT tags with the src attribute, you can probably get what you want. Personally, I'd want it to never render script tags. I assume you're getting this from a service call or using it on the server. If th

[2016-12-26 06:12] caspervonb commented on #93
Yes but *should* there be? `IsEqualNode` could be used to determine if something has just changed position.

*<script>* tags in particular are fairly trivial to workaround in my case, just use script.src with a prefix as an id if there is no id attribute.

And its a dev tool (watch file, update document = live editing) so not too worried about XSS.

[2016-12-26 19:30] AutoSponge commented on #93
The isEqualNode algorithm is not trustworthy as it does not compare value.

You case is not the general case and I'd be loathe to change behavior of the core lib when you have options that will work fine given the framework. However I won't close this in case others want to weigh in.

[2017-01-03 02:20] karissa opened #95 "`document` not defined on server-side rendering"
After 2.3.0, getting 'document' not defined when using browserify with `yo-yo` for server side rendering.

[code]

cc @shama @maxogden @yoshuawuyts

[2017-01-03 02:56] #95 closed

[2017-01-03 03:35] karissa commented on #95
thanks @patrick-steele-idem !

[2017-01-21 18:15] #90 closed

[2017-01-25 16:52] tbranyen commented on #93
Could it make sense to treat the `src` attribute of a `<script/>` the same way as a Node's key?

Anyways I had this thought last night for diffHTML and I'm gonna give it a try.

[2017-01-25 17:07] patrick-steele-idem commented on #93
@tbranyen I think your suggestion to use `src` as the key would be the right thing to do, but I also agree with @AutoSponge that I'm not sure this is common enough to change the core lib.

@caspervonb I would recommend providing your own `getNodeKey(node)` function that does something similar to the following:

[code]

@tbranyen Unrelated, but we should sync up one today. I would love to get your

[2017-01-25 17:11] tbranyen commented on #93
@patrick-steele-idem definitely! do you have a slack/irc/gitter/etc room you hang out in?

[2017-01-25 17:12] patrick-steele-idem commented on #93
@tbranyen please ping me on Gitter. Look forward to chatting with you.

[2017-01-25 21:56] caspervonb commented on #93
@patrick-steele-idem Am already doing that, but the issue is more on a whole IMHO. Take a collection of <li> items, remove one. All of the items are then repurposed (first match is used) rather than the one item removed, semantically this seems like the wrong thing to do.

[2017-01-26 02:08] nrkn commented on #92
I seem to be having the opposite problem - that it was correctly removing child nodes in 2.2.0 but now leaving some behind with 2.2.1 - I'm going to do some more testing and try to reduce it to a simple test case tomorrow, I'll let you know if it's a real problem or if I'm just an idiot who's made some simple mistake somewhere :)

[2017-01-26 22:17] nrkn commented on #92
I'm doing something stupid - my min test case works correctly with both versions - as you were. Great package btw.

[2017-02-03 15:00] JSteunou opened #97 "Maybe room for improvement?"
Reading src code from [hyperapp](https://github.com/hyperapp/hyperapp) it seems easier & simpler to patch DOM nodes with object from [hyperx](https://github.com/substack/hyperx) quite directly without adding all the fuzz like vdom or some mock of native DOM method. hyperapp `h` function is dead simple and the `patch` quite light.

Could morphdom benefits from this? Maybe join forces on the patch f

[2017-02-08 01:28] AutoSponge commented on #97
I'll take a look, but we're talking about a lib that has like 3 tests. So, I'm not hopeful because I don't think that covers all the edge cases for DOM (re)rendering.

[2017-02-08 08:59] JSteunou commented on #97
I follow you, just pointing out because it might bring some fresh idea :)

[2017-02-10 16:44] willfind opened #98 "Working example using morphdom with marko-vdom? Please?"
We've been trying to get morphdom working with a marko-vdom virtual dom object on the server side, but unfortunately all of our many attempts have failed.

It seems that morphdom is always looking for a global document object. For instance, line 6 of morphdom.js:

var doc = typeof document === 'undefined' ? undefined : document;

But we can't figure out how to make marko-vdom provide such a global

[2017-02-10 17:13] patrick-steele-idem commented on #98
hi @willfind, sorry for the confusion, but the marko VDOM implementation has been moved into marko for easier maintenance and optimizations. You can find it here: https://github.com/marko-js/marko/tree/master/runtime/vdom

Here's some other relevant code:

- https://github.com/marko-js/marko/blob/d1bd7fdf4d3f152077a34d6ce34b69fbf5c93351/test/vdom-create-test.js#L16-L30
- https://github.com/marko-j

[2017-02-16 23:08] rmoskal commented on #98
It's not so much that we want marko-vdom to run on the server.  It's that we are writing an simple web framework and so far all of our tests have run run in a vanilla mocha, and we'd prefer to keep it that way.

At a certain point, we have markup that must be merged with the dom.  While we trust that this will happen in the client, it would be great if we could test our rendering pipeline as reali

[2017-02-16 23:58] willfind commented on #98
Thanks so much for your help Patrick! To elaborate a bit on what rmoskal said, in our tests we're trying to create a virtuaDom object and then use morphdom like this:

let morphdom = require('morphdom')
morphdom(virtualDom, HTMLtextString)

and have it update that virtualDom object properly to reflect whatever the HTML is in the text string HTMLtextString.

However, as we mentioned, currently this

[2017-02-17 22:46] AutoSponge commented on #98
I use `jsom` for things like this. Here's a minimal setup:

[code]

[2017-03-11 18:16] AutoSponge commented on #97
I've become involved in hyperapp's development.

The significant difference is that `h()` returns a (non-standard) `vnode` which is compared to other `vnode`s on `patch`. This makes the algorithm very efficient but incapable of operating in a context it did not generate. In this area, morphdom's approach is superior. Morphdom can add server-side rendering easily because it compares DOM nodes and t

[2017-03-13 09:09] JSteunou commented on #97
And what about https://github.com/WebReflection/hyperHTML? I like it's approach, no DOM or VDOM layer and no patch, just direct & simple update of existing node.

[2017-03-13 10:43] AutoSponge commented on #97
It's on my list 🤔

[2017-04-03 15:29] mAAdhaTTah commented on #29
This isn't strictly true; you can use the capture phase to respond to non-bubbling events like `focus`.

[2017-04-03 20:41] lzilioli opened #102 "Support for Plugins"
We've been using morphdom at RetailMeNot, and it has worked great for our needs. Thanks to morphdom we are developing with a flux-like workflow without tying ourselves to an opinionated framework such as react.

Although for the most part, the switch to morphdom has gone smoothly, we found we lost the ability to easily code jquery-based animations, since morphdom can alter the dom with the state c

[2017-05-20 21:13] iambumblehead opened #103 "will there be a hyperscript interface?"
will there be a hyperscript interface?

I've been using [hyperscript-helpers](https://github.com/ohanhi/hyperscript-helpers) which allows one to use hyperscript functions with engines that provide a hyperscript interface such as virtual-dom or react. I'd like like to use morphdom and am wondering if there will be a hyperscript interface for morphdom

[code]

[2017-05-21 21:10] AutoSponge commented on #103
@iambumblehead I've built a few things with hyperscript and morphdom, it's a good fit. However, morphdom only does the merge, how you produce your DOM is up to you. In your example, call morphdom passing your generated view and the target element (or document.body).

[2017-05-21 21:10] #103 closed

[2017-06-01 11:39] orestis opened #104 "Add pkg.module key to support external rollup uses"
Hi,

I'm using rollup to bundle morphdom into my own applications. Since morphdom already uses ES2015 modules, it is as simple as adding a [pkg.module](https://github.com/rollup/rollup/wiki/pkg.module) entry to `package.json` to enable this:

[code]

I'm not an export on this whole ecosystem, but using a temporary fork with just this allowed rollup with `rollup-plugin-node-resolve` to correctly id

[2017-06-01 11:40] orestis opened #105 "Add typescript typings"
The following definition works fine:

[code]

It works in my own source when named "morphdom.d.ts", but I'm not sure how this could be integrated with the main morphdom source tree. I'm creating this issue so people may be able to find this.

[2017-06-03 12:39] Cordemans opened #106 "element with textnode flashes when nothing has changed"
I noticed a lot of flashes in the element inspector for elements that did not actually changed.
When I removed the text inside those elements, they did not flash anymore.

In this example you will notice - at least with **Firefox** and the **element inspector** open - that the element with text keeps flashing and the other element without any text does not flash:
[https://jsfiddle.net/ufc3wazq/2/]

[2017-06-14 08:04] bendulum commented on #106
Same problem here!

[2017-06-14 12:57] AutoSponge commented on #106
I only see a single flash when the example starts. Even when I add a counter to the text value that increases with each interval, all intervals are smooth except the first. I'm not sure if that's morphdom or jsfiddle resetting the results canvas.

[2017-06-14 13:06] #106 closed

[2017-06-14 13:13] patrick-steele-idem commented on #106
I put some checks to only set the `nodeValue` on the text nodes if the old value doesn't match the new value. Please let me know if that helped, but like @AutoSponge, I am not convinced there was a problem with morphdom.

Which browser were you seeing the flashing in? Do you still see the flashing with `morphdom@2.3.3`?

[2017-06-14 14:14] Cordemans commented on #106
Thanks! I can confirm that the flashing does not occur in `morphdom@2.3.3`

See image for an example what I see in Firefox 54 with `morphdom@2.3.2`:

![morphdom 106](https://user-images.githubusercontent.com/2056801/27136428-920b25f6-511b-11e7-99b2-d69690f63ff4.gif)

[2017-06-20 16:15] mAAdhaTTah opened #107 "Bug when adding new selected option to select"
Reproducible example:

https://jsfiddle.net/jamesdigioia/n228vv3t/

In Chrome, this appears as "blue" being selected after the render. Inspecting the DOM reveals that two options have `select`, the previously selected option as well as the new one.

[2017-07-08 01:32] d9k opened #108 "Running examples/server.js: index.marko error"
Done instructions from
github.com/patrick-steele-idem/morphdom/blob/master/examples/README.md

[code]

[2017-07-26 18:30] iambumblehead opened #110 "Can morphdom be used with hyperscript in a way that is not awkward."
My applications use hyperscript, but morphdom uses strings, so it would seem that, in order to use morphdom, I'll need to do so with a hyperscript interface that stringifies HTML --is this true? If so, it seems awkward and discourages me from using morphdom.

[2017-07-27 01:26] whiteinge commented on #110
Morphdom works with any hyperscript implementation that can produce vanilla DOM elements. So it works just fine with the OG [hyperscript](https://github.com/hyperhype/hyperscript) project.

[2017-07-30 09:00] iambumblehead opened #111 "what is the relationship or difference between morphdom and marko?"
what is the relationship or difference between morphdom and marko?

[2017-08-30 13:20] AutoSponge commented on #110
Morphdom render is an "overloaded" method--it can take two nodes or a node and a string. For a long time, it didn't take strings. So, the main purpose of morphdom is to work with nodes. Strings were added later.

[2017-08-30 13:20] #110 closed

[2017-08-30 13:57] AutoSponge commented on #107
Even adding un-selected options to the select will cause the value to change to the first added option.

This needs some research.

[2017-08-30 14:03] AutoSponge commented on #102
There's an existing pattern you can use for your jQuery needs. You can read the background [here](https://github.com/patrick-steele-idem/morphdom/issues/77). Choo (before replacing morphdom) used this for components.

Essentially, you want to attach an `isSameNode` method to your `toNode` that points to the existing `fromNode`. This will tell the render engine to skip that element. Obviously, if y

[2017-08-30 20:44] lzilioli commented on #102
It looks like the aforementioned jquery solution would have helped solve what I set out to solve prior to creating morphdom-plugins, however I solved it in a different way with the plugin approach discussed above.

I think that, regardless of application, being able to compose together multiple morphdom configs would be very valuable, which was the original ask of this issue.

[2017-09-29 06:54] halfnibble opened #116 "Not work for table elements?"
Does morphdom not work for individual table elements?
E.g. `<td>` elements?

I can use morphdom successfully with `<h1>` tags, but whenever I try to run morphdom on `<tr>` or `<td>` tags, it loses the dom element.

This will actually break the DOM and render "Jamie" instead of `<td id="testEl2">Jamie</td>` causing the table itself to break.

    var testEl2 = document.getElementById('testEl2');

[2017-09-30 23:02] AutoSponge commented on #116
I've never tried to apply morphdom to a single cell. A row or table makes sense to me but a cell seems like too much work. Can you create a demo using fiddle, jsbin, etc?

[2017-09-30 23:29] patrick-steele-idem commented on #116
Please try putting your tr in a tbody or thead. If you put a tr directly as a child of a table then the browser will automatically introduce a tbody and this can cause problems with dom diffing

[2017-10-01 17:19] halfnibble commented on #116
I'm guessing this has to do with the String to DOM process. Is it just creating a `<div>` and running `.innerHTML` to create the DOM nodes? If so, that would explain why `<tr>` and `<td>` don't work as a string, but they DO work when I `document.createElement('<tr>/<td>')` and run morphdom with DOM as the second argument.

[2017-10-12 14:00] mtyaka commented on #107
#117 fixes this.

JSFiddle using the patched morphdom: https://jsfiddle.net/4j3a7ux7/1/

[2017-10-12 14:28] AutoSponge commented on #107
@mtyaka awesome, thanks!

[2017-10-13 00:34] sandro-pasquali opened #118 "onBeforeElUpdated surprising behavior?"
I may just be missing something, but I was surprised how I was unable to cancel an element update with
[code]
...in the following widget (notably with sub-widgets):
[code]
The problem is fixed by removing `<widgetB>`:
[code]
It is also fixed by changing ordering:
[code]
And fixed by "wrapping" the sub-widget in a `<div>`:
[code]
Just wondering if this is expected or documented somewhere. Apologies

[2017-10-20 21:00] rainerborene commented on #29
Well, it depends how you've structured your front-end code. For example, I'm syncing views rendered on server side from Rails with `morphdom` which means no `format.ejs` or `format.js` in your controllers. And after running `morphdom` function I just call `$.onmount()` for binding events again. If you don't know this library you should definitely take a look at this [guide](http://ricostacruz.com/

[2017-11-13 21:33] hrb90 opened #120 "Simulating `onNodeMoved` handler?"
Hi,

We're trying to build a micro-framework on top of morphdom, but we're having trouble keeping track of our components' children when a component moves from one part of the DOM to another. If we discard or add nodes things are working fine, but since our elements are keyed, just moving around the DOM doesn't trigger an `onNodeDiscarded` or `onNodeAdded` callback. Is there a way we can use the `

[2017-11-17 02:49] AutoSponge commented on #120
`onNodeAdded` should fire regardless unless you're trying to track a child of an element that moved in which case the parent and all children move and only the parent will trigger. Can you provide a demo of the problem you're seeing?

[2017-11-17 03:53] hrb90 commented on #120
That may be what's happening; I'll try to put together a simple self-contained example at some point this weekend or early next week and get back to you.

[2018-01-26 14:44] sido420 opened #121 "issues with file size"
I tried comparing library's size (as per github) and one on wizard.in and i found a huge difference.

https://wzrd.in/standalone/morphdom@latest is approx. 4.8K and https://raw.githubusercontent.com/patrick-steele-idem/morphdom/master/dist/morphdom-umd.min.js is 10k+

You can visit the links to see the difference.

Whats the difference between the two?

[2018-02-26 17:40] truefusion opened #122 "Custom element properties are lost in IE8 on DOM patch"
I have some properties on the element level. When I make a call to patch the DOM, those properties are lost.

Minimal reproducible code:
[code]

While I've managed to work around the issue, I have not tested it beyond IE8 except in Chrome (and, of course, it works as expected in Chrome).

[2018-02-26 17:56] AutoSponge commented on #122
Unless that's a supported property (like `elm.id = 'foo'`) you'll need to use `setAttribute('asdf', 'asdf')`. What you've done is set an object property on the DOM instance which is not reflected in the attributes list. That's what morphdom needs to render correctly.

[2018-02-26 17:56] #122 closed

[2018-03-02 17:31] noffle opened #123 "case where morphdom isn't morphing"
Hello! I noticed that the following code returns the expected result:

[code]
This outputs `<p>two</p>`.

However, if `elm` starts off as a `<div>`..

[code]

[2018-03-03 00:17] AutoSponge commented on #123
You didn’t share the code for `make()` and elm#2 is a <p>. Can you put all of the code in a jsbin/fiddle/codepen?

[2018-03-03 01:56] noffle commented on #123
My err; `make` is just bitrot (`function make (e) { return e }`); it's a no-op you can safely ignore to repro.

[2018-03-03 01:58] noffle commented on #123
Ah yes, I did a poor copy/pasta job on this. Let me try this again:

[code]

and

[code]

[2018-03-03 16:27] noffle commented on #123
Thanks @AutoSponge. That makes sense.

[2018-04-18 18:43] AndyOGo opened #124 "Namespaced attributes do not update"
Using SVG sprites with `<use xlink:href="" />` will not update the icon.

The reason is that `getAttributeNS` and `setAttributeNS` DOM APIs are inconsistent in it's arguments.
E.g.: lets say 'foo:bar' ('foo' being the namespace and 'bar' the local attribute name):
- `getAttributeNS` only needs the `localName`, i.e. `getAttributeNS('https://www.w3.org/1999/foo', 'bar');`

- **BUT** `setAttributeNS`

[2018-04-18 18:49] AndyOGo commented on #124
same issue for nanomorph https://github.com/choojs/nanomorph/issues/101

[2018-04-18 19:05] AndyOGo commented on #124
Issue originally found in https://github.com/axa-ch/patterns-library/pull/411

[2018-04-23 15:45] FND commented on #9
Allow me chime in here and thank you for your efforts, @patrick-steele-idem. morphdom is a wonderful little (in the best sense) library and a pleasant alternative to much more JavaScript-heavy approaches.

[2018-05-23 14:57] imolorhe opened #126 "Adding CSS enter/exit transition classes"
I'm trying to figure out how to add CSS transition classes to elements in the template rendered using morphdom. I've tried using `onBeforeNodeAdded()` returning a new node with the CSS class added, and `onNodeAdded()` setting the CSS class, but they don't seem to work. Any other ideas on how to accomplish this?

[2018-05-24 00:12] AutoSponge commented on #126
Maybe you could describe what's happening or provide a short demo. However, one common problem with animation is animations will "restart" when a node re-renders. This often happens when you're using another library to modify the node. To avoid this, you can use [`.isSameNode()`](https://github.com/patrick-steele-idem/morphdom/blob/4c04f7b66ba9e501f038d49e2d6605ecc1b34710/docs/virtual-dom.md#isSam

[2018-05-24 17:24] #126 closed, assigned to nobody

[2018-05-30 03:16] arvitaly commented on #105
Added to @types https://www.npmjs.com/package/@types/morphdom

[2018-06-21 13:13] franktopel opened #127 "Missing documentation how morphdom interacts with web components"
We are using morphdom in a project where a huge Java/Swing-based application needs to be migrated into a web application. The Swing client has a number of controls which do not directly translate to native HTML elements - for this purpose the company decided to use web components.

Both customized built-ins and autonomous custom elements are being used. I sorely miss documentation about how morphd

[2018-06-22 06:32] franktopel commented on #127
So far we're not using shadow DOM at all (also no "shady" DOM).

[2018-07-02 13:35] AutoSponge commented on #127
If you're using custom elements without shadow, then the second paragraph of my previous still applies. Elements manipulating the dom outside of the render cycle should prevented from re-rendering using `.isSameNode`. This could be done either as the custom element itself or its direct descendants.

If you develop examples or solid documentation, feel free to share it or provide a PR that can impr

[2018-07-02 13:39] franktopel commented on #127
I understand that applies to autonomous custom elements like `<data-table>`, but does it also apply to customized built-ins like `<table is="data-table">`?

[2018-07-02 14:12] AutoSponge commented on #127
@franktopel It's possible that the web component route makes morphdom irrelevant if all state changes trigger re-renders of the components but the overall page structure doesn't change.  I'd have to leave that to you to decide.

I'm not sure how the `is=` components differ. If the component itself manipulates the dom, you'll want to use `isSameNode` **OR** shadow dom **AND/OR** separate "mount" po

[2018-08-06 14:51] FND opened #129 "named form fields result in element duplication"
reduced test case:
https://burningchrome.com/~fnd/_/19c4516b-8d17-4d8b-b732-7cfdf4ca49e8.html
(→ view source, `<script>` at the bottom)

`<input name="id">` results in the surrounding form being duplicated rather than replaced.

As far as I can tell, this is because if such a field exists within a form, `form.id` returns that DOM node rather than the form's `id` attribute value (because the 90s we

[2018-10-01 05:13] Javiani opened #130 "Is this project still being supported?"
Hi! First of all, thanks for this amazing library!!!
I used with along my own component library and it's fantastic...

I got a package called `reactor` which is a combination of Morphdom with [sodajs](https://github.com/AlloyTeam/sodajs)

The combination of these 2 projects are the best thing ever... I'm wondering why these 2 projects have the last commit from 1 year ago... Have you give up?

I'm

[2018-10-04 11:32] ricardobeat commented on #130
My understanding is that the marko.js framework has it's own version of morphdom in it's source: https://github.com/marko-js/marko/tree/master/src/morphdom

Seems like it diverged more and more until this one was abandoned. Not sure why this is the case - we still use morphdom and would love being able to stay up to date too.

[2018-10-08 10:36] liabadi commented on #130
+1
I integrated Morphdom into one of my company's largest services (>400M monthly sessions), and its impact on the product's interactivity was amazing.

[2018-10-09 08:12] max0xff commented on #130
I love morphdom, It's all I ever needed for DOM manipulations.

I'm using it in all my projects and it's really good experience for me. I've composed my own framework around it, using redux and mustache templates.

I like that morphdom doesn't include other stuff, like event handling, template system, routing and etc, so I can choose by myself. Also the performance is absolutly awesome. One of the

[2018-10-13 22:35] Javiani commented on #130
@max0xff , Please! Share your framework with us! I'm a framework creator myself I'd love to know more about it and learn something new..

If there's anyone interested, I created this package for my own library :
https://medium.com/jails-org/one-of-my-major-concerns-since-the-very-beginning-was-how-to-make-an-easy-to-use-template-system-a0b0cb2bd47c

@patrick-steele-idem, morphdom is awesome!!! Ple

[2018-11-05 07:46] DanielRuf opened #131 "move to org"
Please move this repo to some org to ease the future maintenance of this repo and increase the truck factor. Also this makes it easier to maintain as we can use groups and different permissions then.

[2018-11-05 16:00] patrick-steele-idem commented on #130
For the time being, I have had to take a break from open source to balance work and life demands. If someone is interested in being added as a maintainer please let me know. Sorry for the inconvenience and long delay in responding.

[2018-11-05 16:02] patrick-steele-idem commented on #131
I'm not opposed to that. Are you interested in being added as a maintainer?

[2018-11-05 16:21] DanielRuf commented on #131
Why that? Maintenance, teams with different permissions, truck factor, ... all things which are relevant.

[2018-11-05 18:09] patrick-steele-idem commented on #131
I think you misunderstood my comment. I am agreeing with you. But if I move it over to a new org who should I add as maintainers?

[2018-11-05 18:17] DanielRuf commented on #131
Hm, good question as I am already very active in a few projects.
What would be the next steps?

* resolve open issues
* merge PRs which fix issues
* cut a new release (needs proper rights on npmjs and so on)
* check who might be considered as maintainer(s)
* triage open StackOverflow questions?

[2018-11-05 18:21] DanielRuf commented on #131
I see there is interest by users who also use it in larger projects at https://github.com/patrick-steele-idem/morphdom/issues/130

[2018-12-16 15:29] vans163 opened #134 "Input element losing value when typing + morphing"
I seem to have read through the closed comments and documentation but cannot find a way to make what I type into an input element persist after the morph.

For a test I am calling morph on the input element with a 2 second timeout and typing into the input element. The element is `<input></input>` without a value set in both the old and new elements. I simply want what I typed into the old to carr

[2018-12-18 22:43] brucou commented on #134
I may be having a similar problem to yours. However a code example would be really appreciated to analyze your issue.

[2018-12-18 23:34] brucou opened #135 "Input lose focus position after morphing"
The title is exactly the same as a [closed issue](https://github.com/patrick-steele-idem/morphdom/issues/21). However the root cause seems different so I posting it anew. This is an issue similar to controlled component in React.

In short, I have an input field, where the user types in a query. I generate a new HTML string everytime the user types. The DOM is updated correctly except that the inp

[2018-12-18 23:36] brucou commented on #135
I would deem somebody encountered this issue for sure, as it must be a common one. Hopefully someone is reading this and can help

[2018-12-19 13:55] vans163 commented on #118
Your not closing <widgetB> ? where is the /

[2018-12-20 16:12] vans163 opened #136 "selectbox selected diffing bug"
It seems when I switch tabviews the same value inside the selectbox selected option is in the other tab.

Both tabs have the same select box. After a few more morphs this goes away.

[2018-12-31 14:58] moderntimesmedia commented on #130
IIRC Phoenix (a Ruby On Rails-ish framework) will be using morphdom for a new feature (LiveView): https://dockyard.com/blog/2018/12/12/phoenix-liveview-interactive-real-time-apps-no-need-to-write-javascript

Even though the Phoenix and Elixir ecosystem isn't exactly large, I'm sure there'll be more people interested in using and supporting morphdom as a result...

[2018-12-31 15:12] Javiani commented on #130
I would love to be helping on support, but to be honest, my knowledge regarding rendering technics on browser is pretty low... It would be nice to have some help from people who already have some experience on this kind of problem, in order to keep the high quality standard.

I have no relevance on js community, perhaps the best thing is somebody who have some relevance to post this on medium or s

[2019-01-02 21:58] max0xff commented on #135
Hi, I would not put this as $variable, because morphdom will preserve the value of user typed input. If you like to act on the value, you might want to observe it - document.getElement...value; Hope this helps.

[2019-01-02 22:02] max0xff commented on #136
Hi, not sure if this will help you, but... usually when I switch views I try to put id on the view template, to make it easy for the diff algo :)

[2019-01-02 22:18] brucou commented on #135
morphdom updates the input value correctly. The issue is that the input looses focus. So two solutions  :
- uncontrolled input : that seems to be what you are suggesting. Don't update value in the html, let the input be, and observe its changes elsewhere
- use [nanomorph](https://github.com/choojs/nanomorph), which solves this problem and is based on morphdom

I chose the second one.

[2019-01-02 23:54] brucou commented on #135
mmm could not even get something to get displayed in this codepen, but that translates a bit what I want to do : https://codepen.io/anon/pen/pqpqKW?editors=1011

There an input field on the screen with a `oninput` handler which fires everytime the user keys in some characters. When redrawing with the new content of the input field, it is correctly redrawn but the focus is no longer on the input fi

[2019-01-03 02:15] brucou commented on #135
that's interesting. I was using `morphdom(el1, '<div class="bar">Hello Frank</div>');` to render html into a DOM node. You use the native DOM parser I see. Maybe that's the difference. I will try that just to check.

`nanohtml` also has 3KB gzipped, and may be faster than a fast mustache (because you use javascript in a normal ES6 template, like in `html```your content here````), and no need to le

[2019-01-03 03:18] vans163 commented on #136
I think this is the result of extra bootstrap4 tabs javascript interaction and the correct solution is to burn all JS

[2019-03-02 17:33] snewcomer commented on #130
@patrick-steele-idem I would be interested in helping maintain/support this project.  I'm not directly contributing to LiveView (Phoenix), but a part of the team that is developing it.  Would definitely be a reliable steward if you are still interested in having ppl help maintain/respond to issues/improve.

[2019-03-05 04:17] patrick-steele-idem commented on #130
@snewcomer Sorry for the delayed response (my day job still keeps me really busy so I am still taking a break from open source and I don't notice most GitHub notifications). It sounds like your team would be a good steward of this project. I'm happy to work with you guys offline on the details of adding the appropriate folks as maintainers.

[2019-03-07 15:51] #105 closed

[2019-03-19 03:31] snewcomer commented on #136
Lmk if you have other issues.  If you want to burn all JS, this solution may seem appealing :)

https://github.com/chrismccord/phoenix_live_view

[2019-03-19 03:31] #136 closed

[2019-03-19 03:33] snewcomer commented on #134
This could be handled in morphdom.  We handle this ourselves [here](https://github.com/phoenixframework/phoenix_live_view/blob/master/assets/js/phoenix_live_view.js#L443) in live view.  I'll put it on the docket to work on this week or next.

[2019-03-19 03:34] snewcomer commented on #130
Closing for now as this library is important for phoenix live_view.  Will be creating and adding more issues in the next few weeks.  Feel free to reach out!

https://github.com/phoenixframework/phoenix_live_view

[2019-03-19 03:34] #130 closed

[2019-03-19 03:36] snewcomer commented on #131
Will be resolving, creating and adding more issues in the next few weeks.

In the meantime 2.5 has been released!  Lmk if you have any questions!

[2019-03-19 03:36] #131 closed

[2019-03-19 03:36] snewcomer commented on #121
This should be ~4kb minified.

[2019-03-19 03:36] #121 closed

[2019-03-19 03:38] snewcomer commented on #24
Browser support added to the README!  IE9 these days :)

[2019-03-19 03:38] #24 closed

[2019-03-19 03:42] snewcomer commented on #38
Closing for now!  Feel free to reach out!

[2019-03-19 03:42] #38 closed

[2019-03-19 03:48] snewcomer commented on #29
I can see how binding event dynamically could be beneficial.  I'll take a close look at this over the next few weeks after I get the benchmarks back up and running.

[2019-03-19 08:57] ricardobeat commented on #130
@snewcomer awesome! Thanks for stepping in.

[2019-03-22 17:50] snewcomer commented on #107
fixed and published as 2.5.1

[2019-03-22 17:50] #107 closed

[2019-03-22 17:53] snewcomer commented on #104
added an es2015 && module entry #115

try out 2.5.2!

[2019-03-22 17:53] #104 closed

[2019-03-22 17:56] #111 closed

[2019-03-25 15:24] snewcomer commented on #29
I think the hooks described hooks are the best way.  For server side responses, re-attaching events is unnecessary (Phoenix LiveView).  Moreover, in the benchmarks, morphdom is must faster than other libraries that do event copying (and probably other things).  Closing for now!

[2019-03-25 15:24] #29 closed

[2019-03-29 18:08] snewcomer commented on #60
These days the IO slows down real dom manipulations on large diffs, so on large diffs the virtual dom is somewhat faster.  For small diffs, it doesn't seem to make a difference with the updated benchmarks.

Check them out and lmk if anybody has any questions!

[2019-03-29 18:08] #60 closed

[2019-04-05 21:24] snewcomer commented on #134
@vans163 We would have to leave this up to you as it would require us tracking "focused" state.  Here is how you can do it in your own code.

[code]

[code]

[2019-04-05 21:25] snewcomer commented on #134
Let me know if this works for you!  closing for now

[2019-04-05 21:25] #134 closed

[2019-04-05 21:29] snewcomer commented on #53
This is now supported!

https://github.com/patrick-steele-idem/morphdom/commit/3b70216e953fa053750a81d1942ef05da4b7367d

[2019-04-05 21:29] #53 closed

[2019-04-06 03:57] #116 closed

[2019-04-06 03:59] snewcomer commented on #118
I'm not sure there is enough information.  I think the above comment is correct ^^

[2019-04-06 03:59] #118 closed

[2019-04-06 15:57] snewcomer commented on #129
@FND Great reproduction!  Since in a form, the `name` field is what determines what is sent to the server and b/c these are form elements, the browser thinks you want an element in this form scope with "name" id.  Form controls shouldn't be given a name that are the same as other form properties. Lastly, there is some sort of "shorthand access" for forms, so that is what I expect is going on as we

[2019-04-06 15:57] #129 closed

[2019-04-06 17:48] FND commented on #129
Thanks, @snewcomer. I'm afraid I might have been unclear before though, so please allow me to clarify:

[code]

That would circumvent the legacy shorthand access you've identified, without any conditionals. In fact, I'd even expect that to be faster because the browser just needs to directly retrieve the string value rather than cycling through alternative interpretations (like form fields and oth

[2019-04-06 19:28] snewcomer commented on #129
@FND So the extra conditional logic would come in for nodes that aren't a nodeType of 1.  We process 3 (text nodes) && 8 (comment nodes), and those don't have `getAttribute` 😞

I'm not familiar with the different library permutations, but generally since this is the behaviour of the browser when using name="id", I would imagine the library authors would have other issues as well.

[2019-04-08 14:39] FND commented on #129
Ah, I hadn't considered different node types, silly me.

However, for the reasons stated above, I still think it's worth doing:

[code]

I would expect that, too, to be faster because this simple conditional should be less expensive than the `id` property's internal, much more elaborate checks (see above).

(Tests are passing with that change, but `npm run benchmark` doesn't seem to be doing anyth

[2019-04-08 16:20] snewcomer commented on #129
jsperf tested this and got the below results with x and y being DOM elements. What are your thoughts?

![Screenshot 2019-04-08 at 09 15 57](https://user-images.githubusercontent.com/7374640/55739931-f0424f00-59de-11e9-8584-27a2a8ef2547.png)

[2019-04-08 19:41] FND commented on #129
Well, I guess my naive assumptions were pretty far off then. 🙂 Thanks for checking.

That of course thwarts my attempt to appease your (perfectly reasonable) performance concerns. I do wonder whether that's a significant difference, as it still allows for a lot of operations per second - but I can't reasonably assess the real-world impact, so happy to rely on your expertise.

I'm afraid I can't th

[2019-04-11 05:08] tvogels commented on #126
@imolorthe, what is your solution?

[2019-04-23 03:52] snewcomer commented on #102
closing for now.  Feel free to reopen!

[2019-04-23 03:52] #102 closed

[2019-04-29 21:38] calebporzio commented on #130
This is really great to see, thanks @snewcomer !!

[2019-04-30 00:02] calebporzio opened #152 "Destroying and Re-adding elements instead of "moving" them"
The Issue:

When a node is added in the middle of siblings, the siblings below will be discarded, and then re-added, instead of just moved. Is this intended? I'm running into issues where the focus states are being lost, and temporary DOM states like "value" and such in these elements.

Below is a CodePen (screenshot and link) that demonstrates my issue:
![image](https://user-images.githubusercont

[2019-04-30 00:11] calebporzio opened #153 "Morphdom is "updating" elements that are the exact same"
![image](https://user-images.githubusercontent.com/3670578/56934602-7c193980-6aba-11e9-9c72-ca9a7e7f1085.png)

According to the screenshot, (and my personal experience), Morphdom thinks it needs to update elements that are the exact same.

I have found this is because of lines like: https://github.com/patrick-steele-idem/morphdom/blob/master/src/morphdom.js#L199

Where "isSameNode" is used to dete

[2019-04-30 01:20] snewcomer commented on #153
@calebporzio 👋 This can be handled in `onBeforeElUpdated`.  It may be the same node by reference depending on how the user applies morphdom.  Perhaps the toEl is the original fromEl but with something appended to it.

Any further thoughts?

https://github.com/patrick-steele-idem/morphdom#can-i-make-morphdom-blaze-through-the-dom-tree-even-faster-yes
https://github.com/phoenixframework/phoenix_live

[2019-04-30 02:01] calebporzio commented on #152
On second thought, this is standard behavior of any dom-diffing algorithm right? This is why you need `:key` attributes in Vue or React for adding `<li>` elements.

I think it just struck me as odd at first glance, but this seems to be standard behavior.

I'll wait for confirmation from someone else.

[2019-04-30 10:25] olivierbossel opened #154 "Morphdom messed up with the form select"
Surely a small issue but it's anoying.

https://codesandbox.io/embed/14624qpoz4
1. Select an option
2. Click rerender
3. The select is being reseted

Hope this can be fixed without too much effort.
Thanks in advance!

[2019-04-30 14:11] calebporzio commented on #153
So, I might be naive here, but I would think if toEl is the original fromEl, if it had something appended to it, fromEl would too. Right? Reference is a reference? Exact same thing? Or am I missing something - thanks for the response.

And thanks for picking up work on this repo @snewcomer. I'm creating a LiveView-like tool called Livewire for the Laravel community, and it puts me at ease knowing

[2019-04-30 14:12] calebporzio commented on #152
On third thought, the reason I thought it would NOT need a "key" attribute, is because the tagNames are distinct. I understand why moving around `<li>`s would need a "key", but just didn't think distinct tag names would. Either way, my guess could be off.

[2019-04-30 14:54] calebporzio commented on #153
Ah, I did some digging and found this:
https://github.com/choojs/nanocomponent#whats-a-proxy-node

This explains why morphdom uses isSameNode() -> it is there for people to overload the isSameNode function. Probably mostly for people using morphdom with their own vDom libraries.

I see that the general consensus is to leave the "isSameNode" calls in morphdom and just push people towards checking "

[2019-05-02 13:29] AutoSponge commented on #153
Sorry for my absence. I originally contributed the `isSameNode` code. You're correct that under normal use it will always be `false` but when used as an expando property to override the prototype method, it can be used to "skip" evaluation as you noted in the choo example.

[2019-05-02 13:40] AutoSponge commented on #152
This is where vdom libraries can perform better. They can take into account the entire tree before making changes. morphdom is a tree walker and backtracking (and holding references) is expensive (especially on large doms). The algorithm complexity and compute power needed has, previously, made this a non-starter. Something like focus management is left to the implementer (via hooks and such). If

[2019-05-02 13:43] AutoSponge commented on #154
You need to update the state of the selected option to render `selected`. Morphdom is doing exactly what was asked.

This requires adding an event handler to listen for change on the input, then when you re-render, check to see if the `selected` option index changed and update the html string accordingly.

[2019-05-02 13:43] #154 closed

[2019-05-02 13:46] olivierbossel commented on #154
ok thanks for the feedback. appreciate that!
I will do as you say.
Cheers!

[2019-05-02 15:03] calebporzio commented on #152
Gotcha, good to hear I'm not crazy. We'll see what comes of this. I'm not well versed in dom-diffing algos, but maybe if the itch gets bad enough I'll scratch it. Glad it's being used in a big project like LiveView so some of these things will get more attention.

[2019-05-23 14:58] nesterow opened #157 "[Bug] Possibly reverse value asignment for INPUT elements"
Hello,
Following code assigns value from `target` element to `source` element. If I understand correctly, it should be vice-versa. i.e `toEl.value = fromEl.value`;
[code]
[specialElHandlers.js#L48](https://github.com/patrick-steele-idem/morphdom/blob/da08ab419ae21d305bc5cfb38f2f3d6c2152d1c7/src/specialElHandlers.js#L48)

[2019-05-23 15:55] snewcomer commented on #157
Yeah it is a bit of a misnomer.  As we walk the tree, we morph the `from` based on the `to`.

https://github.com/patrick-steele-idem/morphdom/blob/master/src/morphdom.js#L326

[2019-05-23 16:10] nesterow commented on #157
This function simply deletes value attribute form input if `toEl.value` is an empty string because the next condition would return true. Some js frameworks can loose binding to the 'value' attribute. I suspect this is why i cannot bind value after morphing.  I'm using  RiotJS

[2019-05-23 16:25] nesterow commented on #157
I mean if the value property were set using javascript `InputElement.hasAttribute('value')` would return 'false' anyway

[2019-05-23 22:16] AutoSponge commented on #157
In general, it's bad idea to morph inputs. It can cause focus loss, caret position changes, etc.

We're not tracking the `value` attribute here. The `value` property is what's being changed. Do you have a test case that doesn't make the expected change?

[2019-05-24 03:05] nesterow commented on #157
This function forks correctly. Sorry, I was mislead by confusing variable naming. The issue was that the input values were set a moment after morphdom was called. Thanks for your answers!

[2019-05-24 03:06] #157 closed

[2019-08-06 18:04] cbbfcd opened #160 "There should be some defensive code or a hint in the README？"
This is a great implementation, thanks to the author's contribution.
When I learned this tool (forgive me for using it as a tool in a project), I had a confusion:

[code]
I think this should be the details that the user should pay attention to.
but, If there not a plan to add defensive code to the `toEl` method or other place.
there should hava a prompt it in the README?
I think this is a very eas

[2019-08-06 18:10] snewcomer commented on #160
A PR would be appreciated with `str.trim()`. Thanks!

[2019-08-07 05:11] #160 closed

[2019-08-07 18:41] isabellachen opened #162 "Morphdom is not a function"
I am using [yo-yo](https://github.com/maxogden/yo-yo) which uses morphdom to update the dom. The library requires morphdom and uses it:

[code]

However, this triggers an error, "morphdom is not a function".
I see that morphdom is being exported  like so:

`module.exports = morphdom;`

This is causing the export to be an object, so in order to use morphdom, I have to call morphdom.default()

Not s

[2019-08-07 19:05] snewcomer commented on #162
👋 Is the library itself broken or your application that uses yo-yo?

[2019-08-08 20:02] isabellachen commented on #162
My application uses yoyo. I'm starting to think it might be a webpack issue actually, gonna try a few things and get back to you 🤪

[2019-08-10 15:15] snewcomer commented on #153
@calebporzio 👋 Hope all is well.  I think there are two issues.

One is updating nodes when `isEqualNode` for the subtree is true.  We have this in Phoenix Live View [here](https://github.com/phoenixframework/phoenix_live_view/blob/master/assets/js/phoenix_live_view.js#L726).  The question is should this be a part of `morphdom`.

The second is the element proxies via `isSameNode`.  There are two P

[2019-08-12 12:20] calebporzio commented on #153
Hey @snewcomer, Thanks for taking the time to look into this. I think your PR (#156) seems best for now, however, I don't know what @ AutoSponge  was saying about this slowing the package down. If that's negligible, I'd say, this is a good step forward.

As you mentioned, this is a separate issue from converting `isSameNode` to `isEqualNode` (which I think still should be done). Until that's done,

[2019-09-21 06:36] snewcomer commented on #152
@calebporzio Looks like 2.4 had the fix!  morphdom is targeting only that specific element and after it is done traversing the `currentToNode`, it is done iterating. Lmk if you see something different and feel free to re-open if need be 👍

https://github.com/patrick-steele-idem/morphdom/blob/master/CHANGELOG.md#254

And yes, managing focus state is possible as I'm sure you are already aware!

http

[2019-09-21 06:36] #152 closed

[2019-09-21 06:46] snewcomer commented on #97
closing this for now...

[2019-09-21 06:46] #97 closed

[2019-09-21 06:48] snewcomer commented on #93
No action items.  Closing for now...

[2019-09-21 06:48] #93 closed

[2019-09-21 06:58] snewcomer commented on #41
To pass browser validation (and our conversion to HTML using fragments), the morph needs to do something like this b/c the `head` can't exist alone.

[code]

Although I'm not sure of an exact solution.  Leaving open for now. 👍

[2019-10-04 22:13] dy opened #166 "Support diffing #document-fragment"
As a reflection of #53 - would be useful to have reverse diffing:

[code]

Now that is not supported, gives error:
[code]

Context: pre-render DOM into background fragment, in order to later insert into some mounted DOM node.

[2019-10-13 16:25] snewcomer commented on #166
I believe we support morph-ing when the first argument is an HTMLElement.  One of the requirements is we have to "walk" the DOM tree.  Is that possible with document fragments?

[2019-10-13 17:48] dy commented on #166
Yes, there's nothing special about documentFragment, it is instance of Node (nodeType === 11).
It can be both walked directly or via [TreeWalker](https://developer.mozilla.org/en-US/docs/Web/API/TreeWalker)

[2019-10-13 18:51] snewcomer commented on #166
So the only thing it doesn't have is `attributes`.  So seems like we need a guard using `nodeType === 1`.  Is that something you have time to put up a PR for with test?  Otherwise, I can do it!

[2019-10-13 19:56] dy commented on #166
I have difficulties with setting up mocha/chrome for windows, not sure what's going on.
It seems it will be easier if you do it, if you don't mind.
Here's the draft PR I came up with, that seems to be the only required change https://github.com/patrick-steele-idem/morphdom/pull/167

[2019-10-14 00:13] dy commented on #166
Fixed per #167

[2019-10-14 00:13] #166 closed

[2019-11-05 15:15] cmnstmntmn opened #170 "x-templates possible?"
Hei, i'm curious if it's possible to use in x-templates like

[code]

[2019-11-25 19:46] neurodynamic opened #171 "Does not eliminate duplicate nodes with same id when deleted"
The library seems to get confused by elements with the same id attribute. I realize having more than one element with the same id is bad practice, but it can easily happen temporarily in the process of editing HTML, and very strange behavior results.

Example: if I create several `p` elements with an id of `hi`, running `morphdom` after each is created, and then I delete some of those same `p` ele

[2019-11-26 00:29] snewcomer commented on #171
@neurodynamic I linked a PR that adds a test for us to review.  You are right.  It doesn't remove another element with the same id.  I'm dig into the traversal mechanisms and see if it is possible to get this test passing.

[2019-11-26 04:03] snewcomer commented on #171
In this PR, I added a few tests to show various behaviours with duplicate ids.  There is one test that shows the duplicate `id` is kept.  I know the reason why.  In order to allow duplicate ids, we would need to reverse the way we store ids (`{ 'id': element }`) and take advantage of a WeakMap data structure. I'll have to test out some of these ideas because likely this would result in a major ver

[2019-12-31 19:34] logankeenan opened #178 "scripts do not execute when added."
When a script is added to the page either through a script with a `src` attribute or an inline script it will not download the script or execute the inline code.  Is this expected behavior?

Thank you!

Edit:

This does execute script tags which have a src attribute
[code]

[2019-12-31 23:26] snewcomer commented on #178
👋 Great!  So does it 1. Download and/or 2. Execute the inline code?

I would imagine it should but if it doesn't we can surely look into it!

[2020-01-02 15:24] logankeenan commented on #178
1.  A script does not download, so it does not execute
2. The inline scripts do not execute.

I would make a quick example if that would help too.

[2020-02-08 15:57] Jeraldy opened #180 "Dom Elements are not Updated Correctly"
I have created a simple todo list as follows.
`
    <div id="root"></div>
    <script src="morphdom-umd.js"></script>
    <script>

        var state = {
            todos: [],
            value: ''
        }

        function setState(newState) {
            state = { ...state, ...newState }
            console.log(state)
            morphdom(node, render())
        }

        function removeTodo

[2020-02-09 04:56] Jeraldy commented on #180
I have solved my issue.  I realized that I was not clearing the do to list div before adding re-rendering todos.

[2020-02-09 04:56] #180 closed

[2020-02-13 07:28] zenflow opened #181 "Source code for Benchmarks?"
Is the source code for [the benchmarks in the README](https://github.com/patrick-steele-idem/morphdom#benchmarks) available?

I would like to rerun it with the latest versions of each package to see if the results have changed

Thanks!

[2020-02-17 04:40] snewcomer commented on #181
They are!  The absolute path to `....../test-page.html` file can be put in the browser to view it.  Lmk if you need help doing so!

[2020-02-17 04:40] #181 closed

[2020-02-23 20:48] chromakode opened #183 "`onNodeAdded` called with node removed from the document"
Thank you for `morphdom`!

I ran into a corner case today in an `onNodeAdded`, in which it can be called with nodes that have been removed from the DOM.

When a keyed node is reused and moved to a new parent in a "to" tree, `onNodeAdded` uses `replaceChild` to replace the "to" `childNode` node with the existing `unmatchedFromEl` node:

https://github.com/patrick-steele-idem/morphdom/blob/fe35db9ad

[2020-02-25 05:38] snewcomer commented on #162
@isabellachen Any updates?  I'll close for now but please reopen if need be!

[2020-02-25 05:38] #162 closed

[2020-02-25 05:43] snewcomer commented on #153
Closing for now!  I would have a hard time putting down exactly why we have added/subsequently taken out the `isEqualNode` optimization in LiveView but suffice to say, we have noticed issues.  A global hook is still the recommended approach for now!

[2020-02-25 05:43] #153 closed

[2020-03-03 05:47] snewcomer commented on #183
@chromakode 👋 I think a test case would be very useful!  I'm a bit confused since `handleNodeAdded` happens when a node is added, not removed so it would be great to learn from your example!

Here is a test that deals with this block of code that you could copy -

https://github.com/patrick-steele-idem/morphdom/blob/master/test/browser/test.js#L1040

[2020-03-04 04:41] ioquatix commented on #2
It's 5 years later. Do the assumptions in these discussions still hold true? Is the DOM faster? Slower? Did virtual dom get better? Relatively? Absolutely? I really appreciate the discussion here and so it would be interesting to see how things have changed in browsers over the past 5 years.

[2020-03-08 05:14] snewcomer commented on #178
@logankeenan Similar to `innerHTML` which doesn't execute scripts (security reasons), I'm wondering if `replaceWith` has the same issues.  One option is to try `appendChild`.  Can you lmk if that works?

Also, another option (pending security concerns) is `fetch` the script + `eval` the response.

One last options is

[code]

But I would try simply `appendChild` first!

[2020-03-08 19:21] utkarshkukreti opened #184 "Morphing `document.body` into "<body></body>" throws an error."
Code:

[code]

Error:

[code]

Adding content to `<body>` e.g. `<body>Hello</body>` works fine.

I'll look into this as soon as I can; opening an issue so I don't forget.

[2020-03-08 20:58] snewcomer commented on #184
The main issue here is that a document-fragment is meant to be a lightweight version of a document.  So `html` and `body` are not allowed as children in a document-fragment.  This of it as a `div` and trying to wrap `<body></body>`.  That would be invalid HTML.

However I think we can fix this. https://github.com/patrick-steele-idem/morphdom/pull/185

Let me know what you think!

[2020-03-08 23:51] Bobris commented on #2
Not much changed. Real DOM complexity slowness is inherent in its design, so it cannot be really faster.
trueadm now works on React. But React raw speed in 5 years improved only very slightly, it is not goal really.
Worst IE you need to support is IE11, much better than IE8 or IE9, but still crap.

[2020-03-09 05:58] ioquatix commented on #2
morphdom still seems to serve an important purpose though. Not everyone wants to maintain a virtual DOM. It's nice that it's still maintained.

[2020-03-12 04:24] snewcomer commented on #2
For context, this library is at the core of Phoenix Live View (LiveWire for Laravel).  Total diff is much smaller than equivalent SPA apps since users server side render their page and sprinkle in small reactive parts into page.  This makes this library a perfect candidate since v-dom only wins once I/O is swamped (due to large changes).  Otherwise real DOM is better/on par with v-dom.

https://gi

[2020-03-12 04:51] ioquatix commented on #2
@snewcomer do you have any benchmarks or comparisons? Not that I expect to take much away, just interested to understand where we stand in terms of both absolute and relative performance. I did watch the phoenix live view 60FPS demo and was impressed.

[2020-03-14 18:40] #184 closed

[2020-03-22 22:19] zenflow commented on #29
Just sharing my solution, which uses the `onBeforeElUpdated` hook to copy event listener properties (e.g. `element.onclick`) from source elements to target elements.

`morphdom-events.js` (below) exports a `withEvents` decorator function to use on your options object.

Example usage:
[code]

morphdom-events.js:
[code]

[2020-04-07 13:53] danxinju opened #187 "curFromNode.value = curToNode.value will be delayed on mobile phone"
It seems we need to update it to sourceChild.parentNode.replaceChild(document.createComment(targetChild.nodeValue), sourceChild);

[2020-04-07 13:54] danxinju commented on #187
TextNode also has this problem, it can be fixed if we use the solution above.

[2020-04-07 13:56] danxinju commented on #187
To see this problem we need to update the dom in a timer.

[2020-04-20 03:34] elclanrs commented on #29
@zenflow thank you for that snippet. It worked for my use case. I was deleting items from a list and depending on the order I deleted them I would get different results, sometimes not deleting the item, or getting the wrong item. The item variable inside the event handler wasn't always in sync, but with your fix everything seems to work fine. I'm not sure why, probably related to the event not bei

[2020-04-20 04:36] zenflow commented on #29
Here's the thing to realize: For every element rendered by morphdom it will either (1) if possible, keep the existing element and mutate it to match the given input element, and (2) otherwise, *take and actually use the given input element*. When morphdom mutates the element (to match input element) it doesn't bother with event listeners (because I guess performance: See https://github.com/patrick

[2020-04-20 07:50] evergreenwebsystems opened #189 "Question : Using Morphdom with Fetch API and server rendered HTML"
Apologies if this question is too simplistic, I am just trying to understand if Morphdom would be a good use case for my scenario.

I have server rendered HTML which is returned in a promise from a Javascript Fetch API request. Sometimes the returned HTML contains only the portion that needs to be replaced in the DOM but sometimes it contains HTML which doesn't need to be replaced. Currently I upd

[2020-04-21 04:30] snewcomer commented on #29
@elclanrs I wouldn't be opposed to adding a util (based on the great example from @zenflow) to this library that the end user can import and apply in a `hook`.   What do you think?

[2020-04-21 07:13] elclanrs commented on #29
@snewcomer yeah, that would work too!

[2020-04-22 03:26] zenflow commented on #29
@snewcomer I personally like the `withEvents` decorator-type interface for this utility, so end user doesn't need to worry about applying anything in a hook:

Random example code configuring options using `withEvents`:

[code]

Same example code but using `updateEvents` directly`:

[code]

Either way I would be happy to make this contribution to this awesome library in a PR (with tests & documenta

[2020-04-22 13:29] AutoSponge commented on #124
SVG2 has fairly wide support now and IE11 is end-of-life. It may not be worth changing the code but encouraging folks to remove `xlink:href`.

[2020-04-22 13:58] snewcomer commented on #29
@zenflow If you felt inclined, a util is probably as far as we should take it.  So it is optional and flexible depending on the use case.  I like your decorator approach but I see that staying in user-land.

Would love a PR!

[2020-05-02 03:54] snewcomer commented on #187
@danxinju Would you mind explaining why this is slow on mobile devices?  Thanks!

https://github.com/patrick-steele-idem/morphdom/blob/a1a023e0ac47e8ba55274f39fb2a7f6ccd7abf64/src/morphdom.js#L323

[2020-05-02 04:04] snewcomer opened #191 "Investigate sibling elements rebuilding if one sibling gains new id"
Will update with details when have them.

[2020-05-02 04:08] snewcomer commented on #189
Thanks for the issue!  Yes, morphdom can be a good candidate for patching DOM at any level.  You just need to make sure what you are patching is at the same level - So the first and second arguments are at the same level in the DOM tree.  With `targetId`, I imagine you could accomplish what you are looking for!  Feel free to put more detailed comments and if we can direct your implementation.

[2020-05-02 04:08] #189 closed

[2020-05-04 10:50] kapouer opened #193 "onBeforeAttribute Removed/Added/Changed hooks ?"
Hi,
it'd be nice to be able to control those actions !

Typically i want to merge two nodes but keep original 'custom-*' attributes.

[2020-05-05 02:55] snewcomer commented on #193
👋 It is possible that this might detract from performance if we have to add a lot of function calls to the stack.  What are your thoughts?

[2020-05-05 02:55] snewcomer commented on #191
Works as expected.

[2020-05-05 02:55] #191 closed

[2020-05-05 03:30] snewcomer commented on #183
@chromakode There was in fact a bug!  ref #194

[2020-05-05 03:35] #183 closed

[2020-05-05 07:35] kapouer commented on #193
Well, do not call these hooks if they're not defined ?
Besides i'm not sure function calls have a huge impact on performance.

[2020-05-11 10:37] leastbad opened #195 "resized textarea gets treated as new element"
Hey gang,

We got a ticket that has us genuinely stumped: https://github.com/hopsoft/stimulus_reflex/issues/195

I cloned the OP's repo and independently verified that the issue appears to be real. If you drag the handles of a textarea to change its size, the next morph operation clears out the text value of that textarea.

Any idea wth might be going on? Happy to try just about anything that migh

[2020-05-25 09:24] leastbad commented on #195
I just starred at this for many hours before concluding, "yes, of course it does".

Realizing that changing the style is going to force `element.isSameNode()` to return false, even if it has the same name/id. Because - and I cannot stress this enough - of course it does.

Once it's officially a different node, the text is no longer preserved because the textarea itself is getting morphed.

Mystery

[2020-05-25 09:24] #195 closed

[2020-06-06 19:46] benmccann opened #196 "Consider adding to js-framework-benchmark"
There's some discussion of benchmarks on the README, but I don't see morphdom in the most comprehensive benchmark I'm familiar with:

https://github.com/krausest/js-framework-benchmark
https://rawgit.com/krausest/js-framework-benchmark/master/webdriver-ts-results/table.html

[2020-06-30 20:43] calebporzio commented on #178
I've hit this as well. I use the following snippet to evaluate <script> tags, although looking at it now, I realize this doesn't handle the case of a `src=` attribute:

[code]

I realize using eval() would be a CSP violation for morphdom, so I'm happy to include this in the hooks from my project.

Just weighing in in case this snippet helps others:

[2020-07-01 02:01] logankeenan commented on #178
@snewcomer Thanks for your help! It looks like `replaceWith` will work with the onNodeAdded method and it will work when both inline scripts and external scripts are added to the DOM.

One issue still remains. `onNodeAdded` is not fired when a node is updated and the properties/inner content is updated, but a script is not executed.  Put another way, if morphdom diffs two pieces of markup which ha

[2020-07-01 17:53] logankeenan commented on #178
The code below will execute JS code as it's added/updated.

[code]

[2020-07-01 17:53] #178 closed

[2020-07-01 18:55] logankeenan commented on #178
@snewcomer - thanks for your suggestion with `replaceWith` too! That worked perfectly! 🎉

[2020-07-08 08:18] leastbad opened #198 "onBeforeNodeUpdated?"
Hi @snewcomer!

StimulusReflex uses onBeforeElUpdated to check for the presence of a data attribute (`data-reflex-permanent`) that we use to mark a DOM element and its chilren as safe from morphs. We use it for things like Google Analytics, which should not be constantly reinitialized.

We have received the odd report of strange behaviour in terms of how morphdom operates on different kinds of tar

[2020-07-09 10:12] semmel commented on #193
If such a hook doesn't perform heavy lifting I don't see how it would impact the performance. It would typically just compare node ids or attribute names to a list and return true or false.

Perhaps such a hook would benefit me in excluding some updates to the `class` attribute of my [Responsive Components](https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries

[2020-07-12 00:32] tropperstyle opened #200 "Loosing DOM state when prepending element"
### Environment

* morphdom version: 2.6.1
* Browser: Safari 13.1.1 / Chrome 78.0.3904.87

### Expected behavior
Calling morphdom to prepend a element to the container should keep the previous active input element focus
### Actual behavior
The browser state and input focus is lost

### Reproduce
I tried adding an ID to every element, even the newly introduced element.

https://jsfiddle.net/kajr2zm

[2020-07-13 02:17] snewcomer commented on #187
Closing for now!  Would love a bit more of an explanation.  Feel fee to re-open if need be.

[2020-07-13 02:17] #187 closed

[2020-07-13 03:37] snewcomer commented on #170
@cmnstmntmn 👋 Are you trying to diff these x-templates?  Do you have an example that isn't working?

[2020-07-13 19:44] cmnstmntmn commented on #170
@snewcomer hmm, i don't remember how i solve that issue; way to old :))

[2020-07-13 19:44] #170 closed

[2020-07-17 15:46] tropperstyle commented on #200
FWIW, I originally stumbled across this as my element scroll position was getting lost. The input focus is just a smaller use-case easier to test against

This is extremely misleading as the morphdom algorithm comes with this same cost. I couldn't find a version without this behavior. It appears to build down to the use of [appendChild](https://github.com/patrick-steele-idem/morphdom/blob/master/s

[2020-07-29 23:07] Razzeee opened #203 "IHP seems to be using morphdom"
See this reference here https://ihp.digitallyinduced.com/Guide/your-first-project.html#1-project-setup

Not sure if that's enough for inclusion in the readme

[2020-08-04 16:02] Wildhoney commented on #200
You'll find a lot of of the diffing algorithms have the same problem with prepending to the tree.

Curious though if this is on the roadmap to fix?

[2020-08-05 08:08] dbi1 opened #204 "OnBeforeElUpdated - How to alter the "to" value"
Hello,

my apologies for asking a question rather than reporting a bug.

I am working with a project that uses morphdom, and would like to hook into the morphdom dom tree traversal occasionally, using the onBeforeElUpdated functionality.

The docs say it is "called before a HTMLElement in the from tree is updated. If this function returns false then the element will not be updated."

I read this a

[2020-08-06 08:57] dbi1 commented on #204
Closing this issue, as I figured out the solution.

I can simply update the properties of the to and from node in the same way one always interacts with dom nodes. OnBeforeElUpdated (and the other options) simply allows me to do this at a specified point during the morphdom process.

[2020-08-06 08:57] #204 closed

[2020-08-07 23:00] snewcomer commented on #200
@tropperstyle I'd have to take a deep look at this.  As you mentioned, once we detect a change, we throw a grenade at the siblings and children; however, if they exist in cache by id, we stitch them back together.  This seems to still lose the `focus` state.

I'm not sure of a good solution yet.  Seems like we would have to keep a cache of focused state around and add that that back to the DOM aft

[2020-08-07 23:20] jtropper-corefact commented on #200
So, tracking focus explicitly wouldn't have helped in my case as I discovered this issue after loosing `scrollTop`. There might be other "stateful" properties I'm not aware of off the top of my head

[2020-08-07 23:21] tropperstyle commented on #200
So, tracking focus explicitly wouldn't have helped in my case as I discovered this issue after loosing `scrollTop`. There might be other "stateful" properties I'm not aware of off the top of my head

[2020-08-17 04:00] himat opened #205 "Duplicate ID issue"
Hi,

I'm trying to call morphdom with
fromElem:
[code]

toElem:
[code]

But this doesn't change fromElem at all! It looks the exact same as it was. This is mainly due to there being duplicated ID fields. If I rename either of the `thing` IDs to say something else, then morphdom correctly works and fromElem is turned into toElem.

Is there a way around this limitation? I understand ID fields should

[2020-08-17 04:38] himat commented on #205
If there's no way around the limitation, then an alternative would be if morphdom can give me back an error saying that it couldn't morph the fromElem or a notice saying that the fromElem was not changed would be good as well. That way, I could handle this special case of two duplicated IDs myself.

[2020-10-04 19:01] GeassCoder opened #208 "Unnecessary if condition"
https://github.com/patrick-steele-idem/morphdom/blob/20bbb8255e05b28122e318e97232e0507e850960/src/morphdom.js#L445

[2021-01-03 20:22] akbr opened #211 "skip diffing a node, but then continue diffing its children?"
Thanks for this great library!

I'd like to skip diffing a node, _but then continue diffing its children_, in the midst of an ongoing morph operation. For example:

[code]

I can get it done like this, which is pretty hacky:

[code]

Am I missing a better way?

[2021-01-04 17:48] redbastie opened #212 "Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 'toNodeAttrs.length')"
I'm trying to diff a PHP scripts contents via `fetch`.

Heres `index.php`:

	<!doctype html>
	<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Hello, world!</title>
	</head>
	<body>
	    <h1><?php echo uniqid(); ?></h1>

	    <button onclick="morph()">Morph</button>

	    <script src="https://cdn.jsdelivr.ne

[2021-01-04 19:04] #212 closed

[2021-01-04 19:06] #211 closed

[2021-02-12 07:00] leastbad commented on #200
Hey @snewcomer,

I've been trying to find a solution to this problem for several days. It cuts deeper than just focus and scroll state.

We're finding that if you insert a new sibling, two additional problems emerge when you "grenade" siblings.
1. The `onBeforeElUpdated` callback is not considered, so any attempts to preserve a sibling (we use at attribute to mark elements as protected from morphi

[2021-03-26 09:12] ChrisJohnson-83 opened #213 "Replacing multiple independent DOM items"
I am using morphdom to update the pages HTML following a simple native fetch GET request. The following works well:

[code]

I am trying to establish if just calling the function multiple times is the most efficient way, i.e. least number of repaints, to update multiple DOM elements which are not children of a common parent.

I have tried things like ```document.querySelectorAll``` but it doesn't

[2021-06-12 08:08] nokome commented on #203
I believe this is closed by 79d3a3cf585fa75e993f77957e8f4966b01f67e1.

[2021-06-12 08:44] #203 closed

[2021-06-25 16:15] yatesco opened #218 "examples don't work in macOS Chrome or Safari"
I followed the instructions but visiting either of the links either shows a blank page with a server stack trace:

[code]

or it works and shows:
<img width="237" alt="image" src="https://user-images.githubusercontent.com/181469/123454809-dfd71880-d5d8-11eb-9c39-4b7eac975a14.png">

with the following server message:

[code]

[2021-08-22 02:30] austenadler opened #220 "Input type change breaks value change"
### Problem

I am morphing A:
[code]
and B:
[code]
interchangeably. This fails with either of these errors (depending on the morph direction):
[code]
At this line: https://github.com/patrick-steele-idem/morphdom/blob/348299491b43906bab940f435b655923a8f747ab/src/morphAttrs.js#L37

### Cause

morphdom iterates over attrs in this line: https://github.com/patrick-steele-idem/morphdom/blob/348299491b43

[2021-12-16 04:43] pranav-js commented on #130
@snewcomer so are you still supporting it?

[2022-02-04 09:03] StefanJelner opened #223 "onAfterChanges option (or something similar)"
First of all thanks for this great library. I am using it for small reactive widgets in websites and it works like a charm.

In some scenarios i need to know, when morphing is completely finished. My approach now is to add `onElUpdated`, `onNodeAdded` and `onNodeDiscarded` and inside of the callbacks fire another callback which is throttled by request animation frame. This works for me, but is a l

[2022-02-09 20:45] pbowyer commented on #223
I've had a need today for `onAfterChanges` to reorder the output, because nodes I prevent from being removed and newly inserted nodes end up in the wrong order (I can't change the HTML structure so have to fix in JS).

Adding this to morphdom would be very useful. In the meantime, are you able to share your working but hacky code?

[2022-02-10 17:17] StefanJelner commented on #223
Yes. Of course. What i do is to throttle all calls of `onElUpdated`, `onNodeAdded` and `onNodeDiscarded`. You can do this with the library `raf-throttle` to throttle it to the request animation frame or you can use something like `throttle-debounce` to to it by an amount of milliseconds.

Example:

[code]

[2022-02-25 01:40] rosostolato opened #225 "Allow to provide custom morphAttrs function"
I use some metadata as attributes and I don't want it to be rendered in the template. So the idea is to use a custom `morphAttrs` function to filter out undesired attributes on the check.

I believe it's easy to update, we just need to export `morphAttrs` and `morphdomFactory` on the index.js file.

[2022-03-08 13:46] snewcomer commented on #223
`onAfterChanges` I like the suggestion.  I'd certainly be open for a PR.  If one doesn't come across, I'll try and get to it this month.

[2022-05-27 09:01] leastbad commented on #223
Building on @StefanJelner's solution - while acknowledging that I'm hoping for an outcome where a callback fires after processing even if there are no changes - is it fair and reasonable to say that a final call to `onAfterChanges()` immediately before [line 753](https://github.com/patrick-steele-idem/morphdom/blob/84f28d0438f432cdef8cd869cd67ab916c029f2e/dist/morphdom.js#L753) would do the trick?

[2022-05-31 13:49] StefanJelner commented on #223
If `onAfterChanges()` gets the changes as an argument, then it is possible to decide, whether to do something or not, based on the content of the argument. F.ex. if the argument is an empty array, then it is clear, that actually nothing changed, while if it is an array of changes (how they look like might be another discussion), then i know that something changed. And maybe in some scenarios it is

[2022-08-16 11:43] hubertlepicki opened #228 "Morphing page with a lot (1000 or so) FORM tags is slow"
I have originally thought the issue is related to Phoenix LiveView, but I was able to reproduce the issue with morphdom (2.6.1)

The issue on LiveView:
https://github.com/phoenixframework/phoenix_live_view/issues/2137

Context:

I have a LiveView app that renders hundreds of rows of data, and each row has a "checkbox" to select given row. Each checkbox is wrapped in a <form> tag, and when checked

[2022-09-16 20:51] LifeIsStrange opened #230 "Leverage the DocumentFragment API?"
I was wondering wether there would be opportunities in your library to use the DocumentFragment API for improved performance,
e.g. https://jsben.ch/6uEsf